body{font-family: 'Arial'; color: #4C4C4C; font-size: 14px; line-height:18px; }
td{ font-family: 'Arial'; color: #4C4C4C; font-size: 14px; line-height:18px;}	
input{ font-family: 'Arial'; color: #4C4C4C; font-size: 14px; line-height:18px;}	
select{ font-family: 'Arial'; color: #4C4C4C; font-size: 14px; line-height:18px; height: auto !important;}
textarea{ font-family: 'Arial'; color: #4C4C4C; font-size: 14px; line-height:18px; width:100%; height: auto !important; }	
.bullet { font-family: 'Arial',arial;}

input[type="button"], input[type="submit"] { padding: 6px 12px; color: #333; background-color: #E6E6E6; border: 1px solid #ADADAD; border-radius: 4px;}
input[type="button"]:hover, input[type="submit"]:hover { background: #107818; color: #FFF; border-color: #107818; }
input[type="text"], input[type="password"], select, textarea {  border: 1px solid #CCC; height:30px; border-radius: 4px; padding: 0 5px; margin-bottom: 5px;}


a:link {text-decoration:none; color: #DA3628;}
a:active {text-decoration:none; color: #DA3628;}
a:visited {text-decoration:none; color: #DA3628;}
a:hover {text-decoration:none; color: #F2B8B4;}

.gridTitle{ border-top: 1px #FFFFFF solid;  border-bottom: 1px #C1C1C1 solid; border-left: 1px #C1C1C1 solid; border-right: 1px #FFFFFF solid; height: 34px; }
.gridRow{ border-bottom: 1px #E7E7E7 solid; height: 30px; } 
.subMenu{ border: 1px solid #ccc; background-color:#FFFFFF ; width:auto; padding: 5px; text-align: left; } 

.menu_bgcolor{ background-color: #EFEFEF; border: 1px solid #9D9D9D; }
.menu_txtcolor{ color: #4C4C4C }
.menu_link{ color: #DA3628 }
a.menu_link:link {text-decoration:none; color:#DA3628;}
a.menu_link:active {text-decoration:none; color:#DA3628;}
a.menu_link:visited {text-decoration:none; color:#DA3628;}
a.menu_link:hover {text-decoration:none; color: #F2B8B4;}

/*
*
General
*
*/

.panel .clear20 { clear:both; height:20px; }
.panel .clear47 { clear:both; height:47px; }
.gradient { filter: none; }
/*
*
Login Panel
*
*/

.panel a.logo { display:block; width:407px; height:166px; margin:0 auto; background-repeat: no-repeat !important; background-position: center center !important;}

.panel .panel-login { width:511px; padding:10px; height:266px; overflow:hidden; display:block; margin:0 auto; background:url(image/box_loginform.png); position:relative; }

.panel .panel-login form { width: 254px; padding:15px 27px 0 15px; display:block; float:right; margin-right:4px; margin-top:5px;}
	.panel .panel-login form input[type="text"] { width:233px; height:30px; color:#484848; margin:13px 0; padding-left:15px; border:0; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
	.panel .panel-login form input[type="password"] { width:233px; height:30px; color:#484848; margin:13px 0; padding-left:15px; border:0; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
	.panel .panel-login form input[type="submit"] { color:#fff; display:block; float:right; width:97px; height:27px; background:url(image/button_signin.png); cursor:pointer; border:0; padding:0; padding-left:14px; text-align:left; font-size:14px; }
	.panel .panel-login form input[type="checkbox"] { border:2px solid #696969; margin-top:13px; margin-bottom:31px; margin-left:0px; margin-right:10px; }
	.panel .panel-login form label { color:#c4c4c4; line-height:18px; }

.panel .panel-login .login-footer { display:block; position:absolute; left:29px; bottom:28px; color:#575757; font-size:13px; }
	.panel .panel-login .login-footer a { color:#575757; }
	
/* Social Media */

.panel .login-socialmedia { width:840px; margin:0 auto; display:block; }

/*
*
Menu
*
*/
/* Navigation */
.panel-head { background: #FFF; }
.panel .main-navigation { float:left; display:block; width:107px; height:95px; padding:0; }
	.panel .main-navigation a { padding:12px 12px 0 12px; display:block; height:81px; width:81px; background:#3c3f44; border-right:1px solid #55585e; border-bottom:1px solid #55585e; color:#fff; text-transform:uppercase;  overflow:hidden; }
	.panel .main-navigation a:hover { background:#151618; }
	.panel .main-navigation a img { margin-bottom:0; position:relative; bottom:3px; }
	/*Activated / Current*/
	.panel .currentmnuButtonActive a { background:#151618; color:#ffffff;}
/* Style for Usual tabs */
.panel .usual { background:#d8d8d8; color:#111; padding:0; width:100%; margin:0 auto; display:block; float:left; position:relative; }
	.panel .component-newposition { display:block; margin:0; padding:0; background:#d8d8d8; }
		.panel .component-newposition a { display:block; padding:6px 10px; width:71px; text-decoration:none!important; margin:0; font:10px; color:#000; background:#d8d8d8; border-left:3px solid #716e6e; }
		.panel .component-newposition a:hover { color:#000; background:#d8d8d8; }
		.panel .component-newposition a.selected { margin-bottom:0; color:#fff; cursor:default; border-left:3px solid #23982d; background:#272727; }
	.panel .usual li { list-style:none; }
	
	.panel .usual div { background: #065c0d; font:12pt; }
		.panel .usual div a { font-weight:normal; font-family:'Arial'; font-size:12px; line-height:15px; text-align:center; }
	.panel .usual #nav-component { float:left; padding:0; }
	
	.component-newposition { position:absolute; left:0; top:0; }
	.component-nav-more { padding:0; margin:0; width:100%; display:block; float:left; background: none repeat scroll 0% 0% #3c3f44;}
		.component-nav-more li, .component-nav-more a { display:block; }
		.component-nav-more li {
			list-style-type: none;
		}
		.component-nav-more li {
			float: left;
		}
		.component-nav-more li:first-child {
			margin-left: 0;
		}
		
		.flexMenu-viewMore {
			float:left; display:block; width:107px; height:82px; padding:0; background:url(image/bg-menubutton.png) repeat-x;
		}
		
		.flexMenu-viewMore a {
			padding:12px 12px 0 12px; display:block; height:68px; width:81px; background: url(image/buttun_more.png) no-repeat; background-position: center 25px;  border:1px solid; border-right-color:#e9e9e9; border-left-color:#b9b9b9; border-top-color:#eeeeee; border-bottom-color:#d4d4d4; color:#6c6c6c; text-transform:uppercase; text-shadow: 2px 2px 1px #e3e3e3; filter: dropshadow(color=#e3e3e3, offx=2, offy=2); z-index:9999;
		}
		
		.flexMenu-popup {
			padding: 0;
			margin: 0;
		}
		
		.flexMenu-popup .main-navigation { float:none; }
		
		
		
/*
*
Dashboard
*
*/
.tw_table {
	border-spacing: 0;
	padding: 0px;
	width:350px;
	height:275px;
	border:1px solid #cccccc;
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	overflow:auto;
	font-family:'Arial';
	font-weight: bold;
}
	.tw_table .tw_table_heading {
		padding: 0px;
		background-image:url(image/tw/h1.png);
		width:100%;
		background-repeat:repeat-x;
		padding: 0px;
		width:100%;
		height:30px;
		border-top-left-radius:5px;
		border-bottom:1px solid #cccccc;
		-moz-border-top-left-radius:5px; /* Firefox 3.6 and earlier */
		border-top-right-radius:5px;
		-moz-border-top-right-radius:5px; /* Firefox 3.6 and earlier */
		color:#ffffff;
		font-size:16;
	}
		.tw_table .tw_table_heading img { float:left; margin-left:8px; }
		.tw_table .tw_table_heading span { color:#ffffff; font-size:14px; float: left; line-height: 26px; margin-top:3px; }
	
	.tw_table .account_info {
		padding: 0px;
		width:100%;
		height:80px;
		padding-bottom: 17px;
		padding-top: 8px;
		border-bottom:1px solid #dedede;
		word-wrap:break-word;
	}
		.tw_table .account_info p { margin: 0; }
	
	.tw_table .profile_pic {
		text-align:center;
		width:65px;
		height:65px;
		border:1px solid #cccccc;
		border-radius:10px;
		-moz-border-t-radius:10px; /* Firefox 3.6 and earlier */
	}
	
	.tw_table .profileurl {
		white-space: nowrap;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.tw_table .username {
		color:#4b4b4b;
		font-size:18px;
		line-height:20px;
		font-weight:bold;
	}
	
	.tw_table .fullname {
		color:#4b4b4b;
		font-size:14px;
		line-height:16px;
	}
	
	.tw_table .profileurl {
		color:#4b4b4b;
		font-size:12px;
		line-height:14px;
		text-decoration:none;
	}
		.tw_table .profileurl a { color:#9f9f9f; }
		.tw_table .profileurl a:hover { color:#DA3628; text-decoration:none; }

	.tw_table .description {
		text-align:center;
		color:#4c4c4c;
		font-size:13;
	}
	
	.tw_table .account_status {
		border-spacing: 0;
		padding: 0px;
		width:130px;
		height:auto;
	}
	
	.tw_table .status_info {
		border-spacing: 0;
		padding: 0;
		margin: 2px;
		margin-bottom:5px;
		/*background-color:#ffffff;*/
		width:130px;
		height:27px;
		/*border:1px solid #cccccc;*/
		border-radius:5px;
		-moz-border-radius:5px; /* Firefox 3.6 and earlier */
		color:#fff;
		font-size:13;
		table-layout:fixed;
	
	}
	
	.tw_table .status_info .status_info_a {
		width:67px;
		text-align:left;
		/*background-color:#ffffff;*/
		height:30px;
		border-right: 1px solid #cccccc; 
		padding:0 5px;
		padding-left:13px;
		border-top-left-radius:5px;
		-moz-border-top-left-radius:5px; /* Firefox 3.6 and earlier */
		border-bottom-left-radius:5px;
		-moz-border-bottom-left-radius:5px; /* Firefox 3.6 and earlier */
	}
	
	.tw_table .status_info .status_info_b {
		width:50px;
		text-align:center;
		/*background-color:#ffffff;*/
		height:30px;
		padding:0 5px;
		border-top-right-radius:5px;
		-moz-border-top-right-radius:5px; /* Firefox 3.6 and earlier */
		border-bottom-right-radius:5px;
		-moz-border-bottom-right-radius:5px; /* Firefox 3.6 and earlier */
	}

/* Facebook */
.fb_table {
	border-spacing: 0;
	padding: 0px;
	width:350px;
	height:275px;
	border:1px solid #cccccc;
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	overflow:auto;
	font-family:'Arial';
	font-weight: bold;
}
	.fb_table .fb_table_heading {
		padding: 0px;
		background-image:url(image/fb/h1.png);
		width:100%;
		background-repeat:repeat-x;
		padding: 0px;
		width:100%;
		height:30px;
		border-top-left-radius:5px;
		border-bottom:1px solid #cccccc;
		-moz-border-top-left-radius:5px; /* Firefox 3.6 and earlier */
		border-top-right-radius:5px;
		-moz-border-top-right-radius:5px; /* Firefox 3.6 and earlier */
		color:#ffffff;
		font-size:16;
	}
		.fb_table .fb_table_heading img { float:left; margin-left:8px; }
		.fb_table .fb_table_heading span { color:#ffffff; font-size:14px; float: left; line-height: 26px; margin-top:3px; }
	
	.fb_table .account_info {
		padding: 0px;
		width:100%;
		height:80px;
		padding-bottom: 17px;
		padding-top: 8px;
		border-bottom:1px solid #dedede;
		word-wrap:break-word;
	}
		.fb_table .account_info p { margin: 0; }
	
	.fb_table .profile_pic {
		text-align:center;
		width:65px;
		height:65px;
		border:1px solid #cccccc;
		border-radius:10px;
		-moz-border-t-radius:10px; /* Firefox 3.6 and earlier */
	}
	
	.fb_table .profileurl {
		white-space: nowrap;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.fb_table .username {
		color:#4b4b4b;
		font-size:18px;
		line-height:20px;
		font-weight:bold;
	}
	
	.fb_table .fullname {
		color:#4b4b4b;
		font-size:14px;
		line-height:16px;
	}
	
	.fb_table .profileurl {
		color:#4b4b4b;
		font-size:12px;
		line-height:14px;
		text-decoration:none;
	}
		.fb_table .profileurl a { color:#9f9f9f; }
		.fb_table .profileurl a:hover { color:#DA3628; text-decoration:none; }

	.fb_table .description {
		text-align:center;
		color:#4c4c4c;
		font-size:13;
	}
	
	.fb_table .account_status {
		border-spacing: 0;
		padding: 0px;
		width:130px;
		height:auto;
	}
	
	.fb_table .status_info {
		border-spacing: 0;
		padding: 0;
		margin: 2px;
		margin-bottom:5px;
		/*background-color:#ffffff;*/
		width:130px;
		height:27px;
		/*border:1px solid #cccccc;*/
		border-radius:5px;
		-moz-border-radius:5px; /* Firefox 3.6 and earlier */
		color:#ffffff;
		font-size:13;
		table-layout:fixed;
	
	}
	
	.fb_table .status_info .status_info_a {
		width:67px;
		text-align:left;
		/*background-color:#ffffff;*/
		height:30px;
		border-right: 1px solid #cccccc; 
		padding:0 5px;
		padding-left:13px;
		border-top-left-radius:5px;
		-moz-border-top-left-radius:5px; /* Firefox 3.6 and earlier */
		border-bottom-left-radius:5px;
		-moz-border-bottom-left-radius:5px; /* Firefox 3.6 and earlier */
	}
	
	.fb_table .status_info .status_info_b {
		width:50px;
		text-align:center;
		/*background-color:#ffffff;*/
		height:30px;
		padding:0 5px;
		border-top-right-radius:5px;
		-moz-border-top-right-radius:5px; /* Firefox 3.6 and earlier */
		border-bottom-right-radius:5px;
		-moz-border-bottom-right-radius:5px; /* Firefox 3.6 and earlier */
	}
	
	.fb_table .FBpages {
		list-style:none;
		margin:0;
		padding:0;
		padding-left:5px;
	}
		.fb_table .FBpages li {
			list-style:none;
			list-style-type:none;
			text-align:left;
		}
/* News and Announcement */
.na_table {
	border-spacing: 0;
	padding: 0px;
	width:305px;
	height:275px;
	border:1px solid #cccccc;
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	overflow:auto;
	font-family:'Arial';
	font-weight: bold;
}
	.na_table .na_table_heading {
		padding: 0px;
		background-image:url(image/na/h1.png);
		width:100%;
		background-repeat:repeat-x;
		padding: 0px;
		width:100%;
		height:30px;
		border-top-left-radius:5px;
		border-bottom:1px solid #cccccc;
		-moz-border-top-left-radius:5px; /* Firefox 3.6 and earlier */
		border-top-right-radius:5px;
		-moz-border-top-right-radius:5px; /* Firefox 3.6 and earlier */
		color:#ffffff;
		font-size:16;
	}
		.na_table .na_table_heading img { float:left; margin-left:8px; }
		.na_table .na_table_heading span { color:#ffffff; font-size:14px; float: left; line-height: 26px; margin-top:3px; }

	.na_table .account_info {
		padding: 0 13px;
		width:100%;
		height:80px;
		padding-bottom: 17px;
		padding-top: 8px;
		border-bottom:1px solid #dedede;
		word-wrap:break-word;
	}
	.row1 {
		background: #0077ee; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzdlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDY3Y2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #0077ee 0%, #0067ce 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0077ee), color-stop(100%,#0067ce)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #0077ee 0%,#0067ce 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #0077ee 0%,#0067ce 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #0077ee 0%,#0067ce 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #0077ee 0%,#0067ce 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0077ee', endColorstr='#0067ce',GradientType=0 ); /* IE6-8 */

	}
		.row1 .status_info_a {
			border:1px solid #004c98 !important;
			color:#fff;
		}
		.row1 .status_info_b {
			border:1px solid #004c98 !important;
			border-left-color:#178afe !important;
			color:#fff;
		}
	
	.row2 {
		background: #cc0018; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjMDAxOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNjAwMDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #cc0018 0%, #b60001 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0018), color-stop(100%,#b60001)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #cc0018 0%,#b60001 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #cc0018 0%,#b60001 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #cc0018 0%,#b60001 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #cc0018 0%,#b60001 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0018', endColorstr='#b60001',GradientType=0 ); /* IE6-8 */
	}
		.row2 .status_info_a {
			border:1px solid #830005 !important;
			color:#fff;
		}
		.row2 .status_info_b {
			border:1px solid #830005 !important;
			border-left-color:#e7091d !important;
			color:#fff;
		}
		
	.row3 {
		background: #5f5f5f; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVmNWY1ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZTRlNGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #5f5f5f 0%, #4e4e4e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f5f5f), color-stop(100%,#4e4e4e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #5f5f5f 0%,#4e4e4e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #5f5f5f 0%,#4e4e4e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #5f5f5f 0%,#4e4e4e 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #5f5f5f 0%,#4e4e4e 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f5f5f', endColorstr='#4e4e4e',GradientType=0 ); /* IE6-8 */

	}
		.row3 .status_info_a {
			border:1px solid #2d2d2d !important;
			color:#fff;
		}
		.row3 .status_info_b {
			border:1px solid #2d2d2d !important;
			border-left-color:#7e7e7e !important;
			color:#fff;
		}
/*
*
Tables
*
*/
.table-topCtrl { padding:0 6px; margin-right:14px; background: none !important;}
	.table-topCtrl td { padding:0 8px 0 8px; text-align:left; }
	.table-topCtrl a { color:#666666; text-transform:uppercase; font-size: 12px; font-family: "Arial"; padding-left:30px; line-height:21px; height:21px; background-position:0 0; width:auto; display:block; float:left; background-repeat:no-repeat; }
		.table-topCtrl a img { float:left; padding-right:6px; }
		.table-topCtrl a:hover { color:#9e0000; }
		
		.table-topCtrl a.topCtrlfrontend { background: url(image/ico-frontend.png) no-repeat; display:none; }
			.table-topCtrl a.topCtrlfrontend:hover { background: url(image/ico-frontend-hover.png) no-repeat; display:none;}
		.table-topCtrl a.topCtrlinfo { background: url(image/ico-admin.png) no-repeat; }
			.table-topCtrl a.topCtrlinfo:hover { background: url(image/ico-admin-hover.png) no-repeat; }
		.table-topCtrl a.topCtrlpro { background: url(image/ico-pro.png) no-repeat; }
			.table-topCtrl a.topCtrlpro:hover { background: url(image/ico-pro-hover.png) no-repeat; }
		.table-topCtrl a.topCtrllogout { background: url(image/ico-logout.png) no-repeat; }