@font-face {
    font-family: Proxima Nova;
    src: url('fonts/ProximaNova-Regular.otf') format('opentype'),
    url('fonts/ProximaNova-Bold.otf') format('opentype');
}
.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #000;
  position: relative;
}
.ads-is-viewed{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 9999;
}
.block-all-action {
    background: rgba(255, 0, 0, 0) none repeat scroll 0 0;
    height: 100%;
    width: 100%;
}
.ads-ticktock {
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    height: 31px;
    position: absolute;
    right: 12px;
    text-align: center;
    top: 61px;
    width: 31px;
    
    
}

/* Added 9-6-16: LUCKY */
.ticktock-handler {
    background-color: rgba(0, 0, 0, .5) !important;
    padding: 5px !important;
    border-radius: 5px !important;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 55px;
    right: 7px;
    z-index: 2;
    display: none;
}


/*pat css*/
.section.ng-scope {
    border: 0 none;
    padding: 0;
}
.header3 {
    color: rgb(44, 44, 44);
    font-size: 15px;
}
/*.btn-group.justified a {
    background: #000 none repeat scroll 0 0;
    border: medium none;
    border-bottom-color: transparent;
    border-radius: 0;
    border-color: transparent;
    color: #3a3a3a;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #fff; 
    transition: all 0.3s;
    height: 40px;
}*/
.btn-group.justified a {
    background: #f1f1f1 none repeat scroll 0 0;
    border: medium none;
    border-bottom-color: transparent;
    border-radius: 0;
    border-color: transparent;
    color: #8c8c8c;
    font-size: 13px;
    font-weight: bold;
    /*border-bottom: 1px solid #fff; */
    transition: all 0.3s;
    height: 40px;
}
.profile-btn-group.btn-group.justified a {
    border-bottom: none;
}
/*.btn-group.justified a.active {
    background: #000 none repeat scroll 0 0;
    border-bottom: 3px solid #fff;
    color: #fff;
}*/
.btn-group.justified a.active {
    background: #f1f1f1 none repeat scroll 0 0;
    /*border-bottom: 3px solid #fff;*/
    color: #000;
    font-size: 15px;
}
.profile-btn-group.justified a.active {
    background: #000 none repeat scroll 0 0;
    border-bottom: 3px solid #fff;
    color: #000;
}
.profile-btn-group.btn-group.justified a.active {
    background: #fff none repeat scroll 0 0;
    border-bottom: none;
}
.magazine-items {
    display: block;
    text-align: center;
}
.category-item-header .category-title {
    color: #525252;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.category-item-header .category-all {
    color: #525252;
    float: right;
    font-size: 14px;
}

.magazine-items .magazine-item {
    display: inline-block;
    /*overflow: hidden;*/
    vertical-align: top;
    /*width: 30.9%;*/
    width: 47%;
    /* width: 33.3%; */
    /*max-height: 280px;*/
    /*min-height: 321px;*/
    overflow-y: hidden;
}
@media screen and (min-height: 1024px) {
    .magazine-items .magazine-item {
        display: inline-block;
        /*overflow: hidden;*/
        vertical-align: top;
        /*width: 30.9%;*/
        width: 47%;
        /* width: 33.3%; */
        /*max-height: 280px;*/
        min-height: 536px;
        overflow-y: hidden;
    }
}

.magazine-items .magazine-item-in {
    display: inline-block;
    /*overflow: hidden;*/
    vertical-align: top;
    width: 30.9%;
    /* width: 33.3%; */
}

.magazine-items .magazine-item {
    margin: 0 4px;
}
/*.magazine-items .magazine-item:nth-child(3n+1){
    margin-left: 0;
    margin-right: 5px;
}
.magazine-items .magazine-item:nth-child(3n+3){
    margin-left: 5px;
    margin-right: 0;
}*/
.magazine-items .magazine-item-in {
    margin: 0 5px;
}
.magazine-items .magazine-item-in:nth-child(3n+1){
    margin-left: 0;
    margin-right: 5px;
}
.magazine-items .magazine-item-in:nth-child(3n+3){
    margin-left: 5px;
    margin-right: 0;
}
.category-item-body {
    margin: 0 -3px;
}
.magazing-cover {
/*    -moz-box-shadow: 4px 4px 4px #606060;
    -webkit-box-shadow: 4px 4px 4px #606060;
    box-shadow: 4px 4px 4px #606060;*/
}
    /*margin: 7px 3px;*/
    /*min-height: 51px;
    max-height: 51px;*/
/* .magazine-title {
    color: #666666;
    font-size: 13px;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 5px;
    min-height: 34px;
    max-height: 34px;
    overflow: hidden;
    text-align: center;
} */
.magazine-title {
    color: #000;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
    /*max-height: 39px;
    min-height: 39px;*/
    overflow: hidden;
    text-align: left;
    font-weight: 500;
}
.magazine-description {
    color: #000;
    font-size: 10px;
    text-align: justify;
    line-height: 13px;
    max-height: 40px;
    overflow: hidden;
}
.col-p-10 {
    padding-left: 10px;
    padding-right: 10px;
}
/*.magazine-items .magazine-item:first-child {
    margin-left: 0;
}
.magazine-items .magazine-item:last-child {
    margin-right: 0;
}*/
.magazine-rating {
    font-size: 9px;
    line-height: 0;
    position: relative;
}
.magazine-options {
    color: #737373;
    font-size: 12px;
    line-height: 15px;
}
.magazine-options .fa {
    font-size: 18px;
    margin-top: 5px;
    width: 25px;
}
.magazine-options .fa::before {
    padding-right: 10px;
}
.rating-container {
    color: #c7c7c7;
    /* overflow: hidden; */
    position: relative;
    margin-top: -23px;
    margin-left: -6px;
}
.block-magazine {
    min-height: 500px;
    opacity: 0.5;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.owl-item.active .block-magazine {
    opacity: 1;
}
/* .owl-item img.magazine-cover-photo {
    display: block;
    margin: 0 auto;
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
} */
.owl-item img.magazine-cover-photo {
    display: block;
    /*margin: 0 auto 20px; 10-4-16 */
    /*max-width: 93%; 10-4-16 */
    /*width: auto;*/
    /*-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.50);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.50);*/
    /*-webkit-box-shadow: 5px 5px 10px #bebebe;
    -moz-box-shadow: 5px 5px 10px #bebebe;
    box-shadow: 5px 5px 10px #bebebe;*/
}
.owl-item .magazine-information-container {
    /*margin: 0 -20px; 10-4-16 */
    padding: 0 0px 0;
    opacity: 0;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    position: relative;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}
.owl-item.active .magazine-information-container {
    opacity: 1;
}
.magazines-browser-slider {
    /*padding: 10px 0 0;*/
    z-index: initial;
}
.magazines-browser-slider .magazine-title {
    color: rgb(40, 40, 40);
    font-family: Proxima Nova, sans-serif;
    font-size: 15px;
    font-weight: 100;
    /*margin: 0 auto; 10-4-16
    padding: 0 20%;*/
    text-align: left;
    display: block;
    overflow: initial;
    max-height: initial !important;
    min-height: initial !important;
    margin-bottom: 10px;
    line-height: 15px !important; /* 10-4-16 */
    word-wrap: break-word;
    margin-top: 0px; /* 10-4-16 */
    text-transform: uppercase;
}
.magazine-published-date {
    color: rgb(102, 102, 102);
    font-size: 12px;
    margin-top: 3px;
    text-align: center;
}
.magazines-browser-slider .magazine-options-container {
    border-bottom: 1px solid rgb(200, 200, 200);
    border-top: 1px solid rgb(200, 200, 200);
    font-size: 14px;
    padding: 5px 0;
}
.magazines-browser-slider .magazine-options-container > * {
    display: inline-block;
}
.magazines-browser-slider .magazine-options-container > .views {
    margin-right: 5px;
}
.magazines-browser-slider .magazine-options-container > .rate {
    float: right;
    margin-right: 0;
}
.magazines-browser-slider .magazine-options-container > .rate .rating-xs {
    display: inline-block;
    font-size: 15px;
    margin-right: 5px;
    position: relative;
    bottom: 1px;
}
.review-count {
/*    display: inline-block;
    float: right;*/
}
.magazine-details-container .label {
    color: rgb(44, 44, 44);
    font-size: 14px;
    padding: 0;
    text-transform: uppercase;
}
.magazine-details-container p {
    /*color: rgb(102, 102, 102); 10-5-16*/
    color: rgb(0,0,0);
    font-size: 13px;
    line-height: 20px;
    position: relative;
    top: 3px;
    text-align: justify; /* 10-5-16 */
}
.magazine-details-container {
    padding: 15px 0;
    /*border-bottom: 1px solid rgb(194, 194, 194);*/
}
.magazine-review-rating-container {
    padding: 15px 0;
}
.review-input-container > textarea {
    background: rgb(204, 204, 204) none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    min-height: 100px;
    padding: 5px 10px;
    resize: none;
    width: 100%;
}
.review-rate-container {
    font-size: 12px;
}
.review-rate-container > * {
    display: inline-block;
    margin-right: 5px;
}
.review-rate-container > span {
    font-size: 13px;
}
.review-rate-container > .star-rating {
    font-size: 20px;
}
button.submit-review {
    /*background: rgb(29, 181, 61) none repeat scroll 0 0;*/
    background: #000 none repeat scroll 0 0;
    border: medium none;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 15px;
    text-align: center;
    width: 100%;
}
.magazine-reviews-container {
    /* border-top: 1px solid rgb(204, 204, 204); */
    padding: 20px 0;
}
.review-item {
    /*margin-bottom: 20px; 10-6-16*/
    margin-left: 10px;
}
.review-header > * {
    display: inline-block;
}
.review-message-container {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    /*border: 1px solid rgb(229, 229, 229); 10-6-16*/
    /*border-radius: 5px; 10-6-16*/
    font-size: 13px;
    line-height: normal;
    color: #000;
    /*padding: 25px 10px 10px; 10-6-16*/
}
.review-header {
    /*padding-left: 80px; 10-6-16*/
    position: relative;
}
.reviewer-photo {
    border-radius: 50%;
    bottom: -20px;
    display: inline-block;
    float: left;
    left: 0;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 50px;
    position: absolute;
}
.reviewer-name {
    color: rgb(0, 0, 0);
    font-size: 14px;
    height: 21px;
    font-weight: bold;
    /*margin-bottom: 5px; 10-6-16*/
    overflow: hidden;
    width: 200px;
}
.reviewer-rating-container {
    float: right;
}
.reviewer-rating-container .clear-rating {
    display: none !important;
}
.reviewer-rating-container .fa-star {
    font-size: 15px !important;
}
.page-options {
    padding: 12px;
}
.page-options .fa {
    font-size: 19px;
    font-weight: normal;
    line-height: normal;
    margin-left: 4px;
    margin-top: -4px;
    padding: 5px;
    vertical-align: top;
}
body.coach .page-options .fa {
    position: relative;
}
body.coach .app-body::before {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
body.coach .freyo-header::before {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
body.coach .page-options .favorite-action::after {
    background: rgba(0, 0, 0, 0) url("../images/coach_favorite.png") no-repeat scroll;
    background-position: 100% 0;
    background-size: 64% auto;
    content: "";
    height: 100px;
    margin-right: -6px;
    margin-top: -3px;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    z-index: 1000;
}
body.coach .navbar-absolute-top {
    z-index: 2000;
}
body.coach .page-options .share-action::after {
    background: rgba(0, 0, 0, 0) url("../images/coach_share.png") no-repeat scroll;
    background-position: 100% 0;
    background-size: contain;
    content: "";
    height: 129px;
    margin-right: -5px;
    margin-top: -3px;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    z-index: 1000;
}
body.coach .freyo-header .btn-group.pull-right .page-options {
    position: relative;
    z-index: 2;
}
.magazine-cover-container {
    position: relative;
}
body.coach .magazines-browser-slider::before {
    background: rgba(0, 0, 0, 0) url("../images/coach_open.png") no-repeat scroll;
    background-position: 50% 180px;
    background-size: 50% auto;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    margin: 0 auto;
    max-width: 500px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2000;
}
/*end pat css*/
*,
*:focus,
*:hover {
    outline: none;
}
body {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: Proxima Nova, sans-serif;
    font-size: 15px;
    /*background-color: #eff0f0;*/
    background-color: #ececec;
    line-height: 26px;
    color: #666;
    font-weight: normal;
    -ms-overflow-style: none !important;
    overflow-style: none !important;
    overflow: scroll !important;
}
.mt10 {
    margin-top: 10px;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb20 {
    margin-bottom: 20px;
}
.no-gutters {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}


/* .loader
-----------------------------------------------------------------------------------------*/
.loading-spinner {
    position: absolute !important;
    left: 50%;
    top: 40%;
    right: 50%;
    margin: -50px -100px 0;
    width: 100px;
    height: 100px;
}
.floader {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 3000;
}
.fpreloader {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 1);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 3000;
}
.floader .floader-load,
.fpreloader .floader-load {
    height: 100px;
    position: fixed !important;
    right: 50%;
    left: 50%;
    margin: -33px -100px 0;
    top: 40%;
    width: 100px;
}
/*START LAUNCH SCREEN / LOGIN / SIGNUP*/
.f-walkthrough {
    background: rgba(0, 0, 0, 1) no-repeat scroll 0 100%;
    /* background: rgba(0, 0, 0, 0) url("../images/walthrough-bg.png?v1") no-repeat scroll center center; */
    background-size: 155%;
    height: 100%;
    min-height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
    display: table;
    z-index: 6;
}
.walkthrough-img-container {
    bottom: 0;
    left: 0;
    margin-top: 0;
    position: absolute;
    top: 0;
}
.walkthrough-img-container .owl-item {
    padding: 0 40px;
}
.walkthrough-img-container img {
    max-width: 275px;
    min-width: 250px;
    /* padding-bottom: 125px;
    padding-top: 50px; */
    /* padding: 0 20px; */
    width: 100%;
}
.f-footer-walkthrough {
    background-color: transparent;
    bottom: 0;
    left: 0;
    padding: 15px;
    position: absolute;
    width: 100%;
    z-index: 5;
}
.walkthrough-nav div {
    display: inline-block;
}
.walkthrough-nav span {
    background-color: #666;
    opacity: .6;
    display: inline-block;
    border-radius: 50%;
    height: 13px;
    margin: 0 10px;
    width: 13px;
}
.walkthrough-nav .active span {
    opacity: 1;
}
.walkthrough-next {
    bottom: 15px;
    position: absolute;
    right: 15px;
    cursor: pointer;
}
.walkthrough-next .fa-angle-right {
    font-size: 24px;
    position: relative;
    top: 2px;
}
.f-launch-screen {
    /* background: rgba(0, 0, 0, 0) url("../images/launch-screen-bg.jpg?v1") no-repeat scroll 0 100%; */
    /* background: rgba(0, 0, 0, 0) url("../images/walthrough-bg.png?v1") no-repeat scroll center center; */
    background: rgba(0, 0, 0, 1) no-repeat scroll 0 100%;
    background-size: cover;
    height: 100%;
    min-height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
    display: table;
    z-index: 5;
}
.fma-vertical-responsive {
    display: table-cell;
    vertical-align: middle;
}
.f-launch-screen img {
    max-width: 150px;
    margin: 20px auto;
}
.f-launch-screen h1 {
    color: #fff;
    font-size: 33px;
    font-weight: 500;
}
.f-launch-screen h3 {
    font-size: 22px;
    font-weight: 300;
    line-height: 33px;
    margin-top: 0;
}
.f-launch-screen .btn_fsign_in {
    background-color: #1db53d;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin: 25px auto;
    padding: 10px 45px;
}
.f-launch-screen .f-ls-swipe {
    color: #fff;
    font-size: 20px;
}
.f-launch-screen .f-ls-swipe .fa-angle-left {
    font-size: 30px;
    font-weight: 900;
    position: relative;
    top: 3px;
}
.f-launch-screen .f-ls-swipe .fal-1 {
    opacity: 0.27;
}
.f-launch-screen .f-ls-swipe .fal-2 {
    opacity: 0.5;
}
.f-launch-screen a.guest_sign_in {
    color: #666;
    text-decoration: underline;
    font-weight: 300;
    margin-top: 30px;
    display: inline-block;
}
.f-su-interests {
    background: rgba(0, 0, 0, 0) url("../images/select-interests-bg.jpg") no-repeat scroll 0 25%;
    background-size: cover;
    height: 100%;
    min-height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
    display: table;
}
.f-su-interests .btn_back_to_welcome,
.btn_back_to_interests, .btn_back_to_interests_from_fp,
.btn_si_to_welcome {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 26px;
}
.btn_back_to_interests_from_fp {
    color: #000;
}
.f-su-text p {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 30px;
    margin-top: 50px;
}
.f-su-category-container .col-xs-4 {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
}
.f-su-categories {
    cursor: pointer;
}
.f-su-interests .btn_next_step {
    background-color: #1db53d;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin: 20px auto;
    padding: 10px 45px;
}

.f-si-formpage {
    background-color: #000;
    height: 100%;
    min-height: 100%;
    width: 100%;

    position: absolute;
    overflow: auto;
    display: table;
}
.f-su-formpage {
    background-color: #fff;
    height: 100%;
    min-height: 100%;
    width: 100%;
    position: absolute;
    overflow: scroll; 
    display: table;
}
.f-fp-formpage { 
    background-color: #fff;
    height: 100%;
    min-height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
    display: table;
}
.f-fp-formpage .reset-header { 
    padding-bottom: 150px;
    color: #000; 
}
.login_message,
.registration_message,
.update-message,
.support-message,
.profilepic-message {
    border-radius: 3px;
    font-size: 13px;
    margin-bottom: 20px;
    padding: 5px;
}

.fsu-
.fsu-almost-there {
    margin-top: 40px;
    margin-bottom: 75px;
    padding: 0 20px;
    /*margin: 0 auto;*/
}
/*.fsu-almost-there h3 {
    font-weight: 500;
    margin-bottom: 0;
}*/
.row.fsu-almost-there h4 {
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
    color: #000;
}
.fsu-almost-there p {
    line-height: normal;
    margin: 7px 0 0;
}
.f-signup-form {
    padding: 0 50px;
    }
@media screen and (min-width: 720px) {
    .f-signup-form {
    padding: 0 200px;
    }
}
@media screen and (min-width: 1080px) {
    .f-signup-form {
    padding: 0 400px;
    }
}
.f-su-formpage .btn_back_to_interests,
.f-si-formpage .btn_si_to_welcome {
    color: #000;
}

.fsu-input {
    position: relative;
    padding: 0;
    margin: 0 0 20px;
}
#show-it {
    position: absolute;
    right: 0px; 
    z-index: 99;
    color: #666;
    padding: 4px;
    
}
/*.fsu-last-input {
    margin-bottom: 0;
}*/
.fsu-input:last-child {
    margin-bottom: 0;
}
.sign_in .fsu-input {
    position: relative;
    padding: 0;
    margin: 0 0 20px;
}
.sign_in .fsu-input input{
    color: rgb(132, 132, 132);
}

.fsu-input input {
    border: none;
    border-bottom: 1px solid #666;
    padding: 0;
    outline: none;
    z-index: 10;
    background-color: transparent;
    height: 35px;
    color: #4a4a4a;
    font-size: 18px;
}
.fsu-input.fsu-active input {
    border-color: #666;
}
.fsu-input span { 
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1;
    font-size: 12px;
    /*color: #8e8e8e;*/
    color: rgb(132, 132, 132);
    text-transform: uppercase;   
}
.fsu-input.fsu-active span {
    position: absolute;
    top: -20px;
    font-size: 12px;
}
.row.fsu-input > p {
    color: #a9a9a9;
    font-size: 11px;
}
.f-select-address select {
    width: 100%;
    height: 30px;
}
.f-select-address .col-xs-5 {
    padding: 0 5px;
}
.f-select-gender input {
    margin: 10px;
    position: absolute;
    z-index: -1;
    /*display:none;*/
    opacity: 0;
    width: 1px;
}
.f-select-gender input + label {
    border: 1px solid #666;
    cursor: pointer;
    padding:0;
    text-align: center;
    width: 100%;
}
.f-select-gender input:checked + label {
    background-color: #666;
    color: #fff;
}
/*.btn_submit_sign_up,
.btn_submit_sign_up:hover,
.btn_submit_sign_up:focus,
.btn_submit_sign_in,
.btn_submit_sign_in:hover,
.btn_submit_sign_in:focus,
.btn_submit_resetpassword,
.btn_submit_resetpassword:hover,
.btn_submit_resetpassword:focus {
    background-color: #1db53d;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    height: 55px;
}
*/ 
.btn_submit_sign_up,
.btn_submit_sign_up:hover,
.btn_submit_sign_up:focus,
.btn_submit_resetpassword,
.btn_submit_resetpassword:hover,
.btn_submit_resetpassword:focus,
.btn-page-1,
.btn-page-1:hover,
.btn-page-1:focus {
    background-color: #000;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 13px;
    padding: 10px;
    width: 100%;
    height: 45px;
    text-transform: uppercase;
}

.btn_submit_sign_in,
.btn_submit_sign_in:hover,
.btn_submit_sign_in:focus {
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 13px;
    padding: 10px;
    width: 100%;
    height: 45px;
}

.row.f-su-separator.text-center {    padding-left: 20px;    padding-right: 20px;    position: relative;    margin-bottom: 15px;    margin-top: 15px;}
.fsu-middle-line {
    border-top: 1px solid #666;
    display: block;
    position: relative;
    top: 15px;
}
.f-su-separator span {
    /*background-color: #fff;*/
    display: inline-block;
    padding: 0 15px;
    position: relative;
    font-size: 13px;
    z-index: 2;
}
.social-media-signup a,.social-media-signin a {    color: #fff;    display: block;    height: 55px;    line-height: 55px;    position: relative;    border: none;    width: 100%; font-weight: 100;}
.social-media-signup,.social-media-signin {    margin-bottom: 20px;    padding: 0 20px;}
/*.social-media-signup .signup_fb,
.social-media-signin .signin_fb {
    background-color: #3b5998;
}*/
.social-media-signup .signup_gp,
.social-media-signin .signin_gp {
    background-color: #dc4e41;
}
.social-media-signup .signup_tw,
.social-media-signin .signin_tw {
    background-color: #55acee;
}
.social-media-signup a i,.social-media-signin a i {    float: left;    font-size: 25px;    left: 15px;    position: absolute;    top: 16px;}
.below-the-submitbutton {
    margin-top: 10px;
    font-size: 13px;
}

/*.below-the-submitbutton > p {
    text-decoration: underline;
}*/
.a-su-sign-in,
.btn_forgot_user_pass {
    color: #808080;
}
.a-su-sign-in {
    color: #000;
}
.btn_go_sign_up {
    color: #fff;
    font-weight: 100;
}
.forgot-password-text {
    color: #bcbcbc;
}
.forgot-password-row {
    padding: 0 20px;
    margin-bottom: 15px;
    margin-top: 7px;
}
.f-sidenav {
    background: rgba(0, 0, 0, 1) no-repeat scroll 50% 0;
    background-size: cover;
    height: 100%;
    min-height: 100%;
    /*min-width: 320px;*/
    max-width: 250px;
    width: 100%;
    /*position: absolute;*/
    overflow: auto;
    font-weight: 300;
    color: #fff;
}
.f-sidenav a,
.f-sidenav a:hover,
.f-sidenav a:focus {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-top: 8px;
    margin-bottom: 8px; 
    margin-left: 3px;
    margin-right: 15px;
}
/* ------- added by lucky 9-28-16 --------- */
.f-settings-body {
    background-color: #fff;
    padding-top: 70px;
}
.f-settings-header {
    color: #000;
    padding: 0 40px;
}
.f-section-header {
    background-color: #f1f1f1;
    color: #5d5d5d;
    font-size: 10px;
    padding: 3px 40px;
}
.f-section-body {
    margin-top: 10px;
    /*padding: 0 45px;*/
    color: #000;
}
.f-section-item {
    padding: 4px 45px;
    color: #000;
}
.f-section-item span {
    color: #000;
}
.f-separator {
    background-color: #f1f1f1;
    height: 2px;
}

/* ---- end added ---- */
.my-profile-nav a.edit-profile-nav,
.my-profile-nav a.edit-profile-nav:hover,
.my-profile-nav a.edit-profile-nav:focus {
    color: #525252;
    display: inline-block;
    font-size: 28px;
    position: absolute;
    right: 0;
    top: 0;
}
.f-close-menu {
    border-bottom: 1px solid #3b3b3b;
    padding: 15px 0;
}
.f-close-menu a i {
    /*font-size: 18px;*/
    font-size: 22px;
}
.f-close-menu a span {
    color: #6c6c6c;
    font-size: 18px;
}
.f-profile-details {
    /*border-bottom: 1px solid #3b3b3b;*/
    /*padding: 15px 0;*/
    position: absolute;
    bottom: 30px;
    width: 90%;
}
.f-profile-details .f-profile-name {
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    margin: 20px auto 0;
}
.no-padding {
    padding: 0px !important;
}
.f-profile-pic {
    height: 100px;
    width: 100px;
}
.f-profile-name {
    color: #000;
    font-size: 19px;
    font-weight: 300;
    margin: 10px auto 0;
    display: block;
    max-width: 270px;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 80px;
    line-height: 27px;
    text-transform: uppercase;
}
.f-profile-email {
    color: #6c6c6c;
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto;
    max-width: 270px;
    word-wrap: break-word;
}
.f-nav-page {
    /*border-bottom: 1px solid #3b3b3b;*/
    /*font-size: 20px;*/
    position: relative;
    display: block;
    padding: 3px 0;
}
.f-nav-page img {
    max-height: 25px;
    max-width: 25px;
    position: absolute;
}
.f-nav-page span {
    left: 15px;
    position: relative;
}
.f-nav-page .active {
    border-left: 3px solid white;
    margin-left: 0px;
}
.row.freyo-logo-black {
    padding: 0 20px;
    margin-bottom: 30px;
}
.freyo-logo-black img {
    max-width: 180px;
}
.row.freyo-logo-black > h3 {
    margin: 0 auto;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin-top: 15px;
    max-width: 200px;
}
/*END LAUNCH SCREEN / LOGIN / SIGNUP--------------------------------------------------------------------------------------*/
.extend-top {
    padding-top: 0px !important;
}
.hide-to-top {
    /*position: absolute !important;
    top: -50px !important;*/
    margin-top: -50px !important;
    
}
.header-transparent {
    background-color: rgba(0, 0, 0, 0) !important;
    color: #fff !important;
}
.app-body {
    font-family: Proxima Nova, sans-serif;
    font-size: 15px;
    /*background-color: #ececec;*/
    background-color: #fff;
    line-height: 26px;
    color: #666;
    font-weight: normal;
    padding-top: 0px !important
}
.sidebar-left-in .app {
    -webkit-transform: translate(250px, 0px);
    -ms-transform: translate(250px, 0px);
    -o-transform: translate(250px, 0px);
    transform: translate(250px, 0px);
    transition: transform 400ms ease 0s;
    -webkit-transition: -webkit-transform 400ms ease 0s;
    -moz-transition: -moz-transform 400ms ease 0s;
    -o-transition: -o-transform 400ms ease 0s;
    width: 100%;
}
.sidebar-left {
    max-width: 250px;
    width: 100%;
}
.freyo-header {
    /*border-bottom: 1px solid #171717; */
    background-color: #171717;

}
#freyo-header {
    -webkit-transition: all 0.5s !important;
    -moz-transition: all 0.5s !important;
    -o-transition: all 0.5s !important;
    transition: all 0.5s !important;
}
.freyo-header,
.freyo-header .navbar-brand,
.freyo-header i {
    color: #fff;
    font-weight: 900;
    font-size: 18px;
    /*font-size: 22px;*/
    /*mix-blend-mode: difference;*/
}
.freyo-header .navbar-brand span {
    bottom: 2px;
    display: inline-block;
    height: 25px;
    letter-spacing: 2.5px;
    max-width: 190px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}
.f-edit-profile p {
    margin-top: 10px;
    line-height: 22px;
}
.btn_edit_profile,
.btn_edit_profile:hover,
.btn_edit_profile:focus {
    background-color: #e74c3c;
    color: #fff;
    display: inline-block;
    margin-bottom: 15px;
    padding: 5px 20px;
}
.f-myprofile-head {
    min-height: 290px;
    position: relative;
}
.f-myprofile-bg {
    height: 100%;
    min-height: 200px;
    position: absolute;
    width: 100%;
    z-index: 0;
}
.blurred-profpic-bg {
    background-position: 0 50%;
    background-size: cover;
    /*filter: blur(6px);*/
    height: 95%;
    min-height: 200px;
    opacity: 1;
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 5%;
}
.myprof-bg-overlay {
    /*background-color: rgb(0, 0, 0);*/
    background-color: #f1f1f1;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.f-myprofile-details {
    left: 0;
    margin-top: 20px;
    position: absolute;
    right: 0;
    z-index: 5;
}
.f-side-freyo-logo {
    margin-bottom: 50px;
    margin-top: 70px;
}
.f-profile-details .f-profile-pic {
    height: 45px;
    width: 45px;
}
.f-myprofile-bg .f-profile-pic {
    height: 115px;
    width: 115px;
}
.f-myprofile-bg .f-profile-name {
    font-weight: 700;
    margin-top: 10px;
}
.f-myprofile-bg .btn-group {
    bottom: 0;
    position: absolute;
    z-index: 3;
    border-top: 1px solid rgba(255, 255, 255, 0.47);
    height: 50px;
}
.f-myprofile-bg #like_total {
    font-size: 20px;
    font-weight: 100;
}
.f-myprofile-bg #subscriber_total {
    font-size: 20px;
    font-weight: 100;
}
.f-myprofile-bg .thin {
    font-size: 10px;
    font-weight: 100;
}
.f-myprofile-bg .btn-group a {
    height: 50px;
    background-color: #fff;
    color: #000;
    line-height: 16px;
    position: relative;
    border-bottom: 1px solid #f1f1f1 !important;
}
.f-myprofile-bg .btn-group a.active {
    background-color: #fff;
}
.f-myprofile-bg .btn-group a:first-child::before {
    border-right: 1px solid #f1f1f1;
    content: " ";
    height: 58px;
    position: absolute;
    right: 0;
    top: 0px;
}
.f-myprofile-bg .btn-group a.active::after {
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: " ";
    display: block;
    height: 0;
    margin: 0 auto;
    position: relative;
    top: 9px;
    width: 0;
}
.cat-background-img {
    padding: 5px 5px 0;
}
.following-magazines .row {
    margin: 15px 0;
}
.following-magazines .row .col-xs-6 {
    padding-right: 5px;
    padding-left: 5px;
}
.follow-box {
    background-color: #fff;
    border: 1px solid #dedede;
    -webkit-box-shadow: 3px 3px 0px #dedede;
    -moz-box-shadow: 3px 3px 0px #dedede;
    box-shadow: 3px 3px 0px #dedede;
    max-height: 300px;
    max-width: 250px;
}
.follow-box .cat-name {
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0;
}
.unfollow-this,
.unfollow-this:hover,
.unfollow-this:focus {
    background-color: #9a9a9a;
    color: #fff;
    display: block;
    margin: 0 7px 15px;
    font-weight: 700;
    font-size: 17px;
}
.follow-this,
.follow-this:hover,
.follow-this:focus {
    background-color: #246fe1;
    color: #fff;
    display: block;
    margin: 0 7px 15px;
    font-weight: 700;
    font-size: 17px;
}
.btn_change_pic {
    margin-top: 15px;
    position: relative;
    display: inline-block;
    z-index: 99;
}
.btn_change_pic .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}
.btn_change_pic span,
.btn_change_pic span:hover,
.btn_change_pic span:focus {
    font-weight: bold;
    position: absolute;
    left: 0;
    right: 0;
    top: 22px;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
}
.btn_change_pic span i.fa-camera {
    font-size: 20px;
}
.edit-profile-pic {
    height: 120px;
    width: 120px;
}
.f-editprof-form {
    padding: 20px 30px !important;
    font-size: 14px;
}
@media screen and (min-width: 720px) {
    .f-editprof-form {
        padding: 20px 200px !important;
    }
}
@media screen and (min-width: 1080px) {
    .f-editprof-form {
        padding: 20px 400px !important;
    }
}
/*.f-editprof-form > .fsu-input > span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/
.f-editprof-pic,
.f-editprof-form {
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.f-editprof-form .fsu-input span {
    color: #8d8d8d;
    text-transform: uppercase;
}
.f-editprof-form .fsu-input p {
    margin: 0 0 -10px;
}
.f-editprof-form .fsu-input input {
    /* background-color: transparent; */
    color: #4a4a4a;
}
.edit-choose-gender {
    padding: 0 15px 15px;
    display: block;
}
.btn.dGenderEvent,
.btn.dGenderEvent:hover,
.btn.dGenderEvent:focus {
    background-color: #e4e4e4;
    border: 1px solid #bebebe;
    color: #4a4a4a;
    border-radius: 0;
}
.btn.dGenderEvent.gChosen {
    background-color: #bbb;
    border: 1px solid #bebebe;
}
.f-editprof-form .btn_update_profile {
    background-color: #000;
    color: #fff;
    display: block;
    padding: 10px 0;
}
.f-magazine-item {
    margin-bottom: 15px;
    /*padding: 5px;*/
    padding: 0;
    overflow: hidden;
}
.fliked-mags .f-magazine-item {
    margin-bottom: 0;
}
.magazine-options .col-xs-12 {
    padding: 0;
}
.f-magazine-box {
    background-color: #fff;
/*    -moz-box-shadow: 5px 5px 0 #dedede;
    -webkit-box-shadow: 5px 5px 0 #dedede;
    box-shadow: 5px 5px 0 #dedede;*/
    margin: 15px;
    padding: 10px;
    overflow: auto;
    color: #818181;
    font-weight: 500;
}
.f-magazine-box .magazine-rating {
    margin-top: 20px;
    right: 5px;
}
.magazine-category {
    color: #fff;
    /*display: inline-block;*/
    font-size: 10px;
    line-height: 1;
    margin: 0;
    padding: 5px 10px;
    display:none;
}
.mc-fashion {
    background-color: #9b59b6;
}
.mc-fashion .btn_nav_follow {
    color: #9b59b6;
}
.tab-cat-fashion.btn-group.justified a {
    background-color: #84419f;
    color: #471a5a;
}
.tab-cat-fashion.btn-group.justified a.active {
    color: #fff;
}
.mc-travel {
    background-color: #34495e;
}
.mc-travel .btn_nav_follow {
    color: #34495e;
}
.tab-cat-travel.btn-group.justified a {
    background-color: #253648;
    color: #121b24;
}
.tab-cat-travel.btn-group.justified a.active {
    color: #fff;
}
.mc-celebrity {
    background-color: #87d37c;
}
.mc-celebrity .btn_nav_follow {
    color: #87d37c;
}
.tab-cat-celebrity.btn-group.justified a {
    background-color: #59a54e;
    color: #275620;
}
.tab-cat-celebrity.btn-group.justified a.active {
    color: #fff;
}
.mc-cars {
    background-color: #e74c3c;
}
.mc-cars .btn_nav_follow {
    color: #e74c3c;
}
.tab-cat-cars.btn-group.justified a {
    background-color: #bc382a;
    color: #72160c;
}
.tab-cat-cars.btn-group.justified a.active {
    color: #fff;
}
.mc-sports {
    background-color: #246fe1;
}
.mc-sports .btn_nav_follow {
    color: #246fe1;
}
.tab-cat-sports.btn-group.justified a {
    background-color: #1757b8;
    color: #0f3062;
}
.tab-cat-sports.btn-group.justified a.active {
    color: #fff;
}
.mc-weddings {
    background-color: #d2527f;
}
.mc-weddings .btn_nav_follow {
    color: #d2527f;
}
.tab-cat-weddings.btn-group.justified a {
    background-color: #aa2e5a;
    color: #641430;
}
.tab-cat-weddings.btn-group.justified a.active {
    color: #fff;
}
.f-magazine-box > a {
    display: block;
    float: left;
    height: 130px;
    margin-right: 15px;
    width: 101px;
}
.magazine-cover {
/*    -webkit-box-shadow: 3px 3px 5px #606060;
    -moz-box-shadow: 3px 3px 5px #606060;
    box-shadow: 3px 3px 5px #606060;*/
    float: left;
    margin-right: 15px;
    height: 130px;
    position: relative;
    z-index: 2;
    max-width: 101px;
}
.mb-magazine-title {
    font-weight: 700;
    font-size: 16px;
    color: #363434;
    margin-bottom: 0;
    max-height: 41px;
    overflow: hidden;
    line-height: 20px;
    word-wrap: break-word;
}
.magazine-issue-date {
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 5px;
    line-height: normal;
}
.mag-details-container .btn-group {
    margin-top: 15px;
/*    display: block;
    float: left;*/
    width: 55%;
}
.mag-details-container .btn-xs {
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 5px 7px;
    color: #818181;
}
.mag-details-container .btn-group .magazine-views-favs {
    /*display: inline;*/
    display: block;
    font-size: 10px;
    /*margin-left: 10px;*/
    margin-top: 6px;
}
.f-category-lefttitle {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
    letter-spacing: 3px;
    margin-left: 15px;
    word-wrap: break-word;
}
.btn_nav_follow {
    background-color: #fff;
    border-radius: 5px;
    font-size: 12px;
    padding: 4px 8px;
    cursor: pointer;
    margin-right: 5px;
}
.freyo-header .btn_share_category {
    position: relative;
    top: 3px;
}
.freyo-header .right-category-btns {
    line-height: 50px;
    padding-bottom: 0;
    padding-top: 0;
    font-size: 14px;
    font-weight: normal;
    padding-right: 12px;
}
.view-magazine-background {
    background-color: #fff;
    /*height: 5000px;*/
}
.freyo-header .btn_mag_grid_view {
    cursor: pointer;
    font-weight: normal;
    margin-left: 15px;
    position: relative;
    top: 1px;
}
.f-magazine-lefttitle {
    color: #fff;
    display: inline !important;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0 !important;
    margin-left: 10px;
    position: static !important;
    text-transform: none;
    word-wrap: break-word;
}
.magazine-left-button {
    /*left: 4px;
    padding: 10px;
    position: absolute;
    top: 4px;*/
    padding-right: 10px;
    float: left;
    color: #000;
}
.magazines-browser-slider .owl-controls {
    font-size: 40px;
    margin-top: 0;
    /* padding: 0 12px; */
    position: absolute;
    top: 0;
    width: 100%;
}
.magazines-browser-slider .owl-nav {
    /*bottom: 8px;*/
    font-weight: 900;
    position: relative;
}
.magazines-browser-slider .owl-nav i.fa {
    padding: 0 12px;
}
/*.magazines-viewer {
    margin-top: 10px;
}*/
.magazine-page-container {
    margin: 0 auto;
    width: 100%;
}
.magazine-page-details {
    background: #fff none repeat scroll 0 0;
    font-size: 13px;
    padding: 15px 17px;
    position: relative;
    height: 50px;
    z-index: 5;
}
.m-page-likes .fa.fa-heart {
    font-size: 18px;
    margin-left: 5px;
    position: relative;
    top: 3px;
}
.m-page-likes {
    float: right;
    position: relative;
    color: #919191;
}
/*.i-liked .fa.fa-heart {
    color: #ae3535;
}*/
.i-liked .fa.fa-paperclip {
    color: #ae3535;
}
.m-page-number {
    color: #919191;
    float: left;
    position: relative;
    /*top: 3px;*/
}
body.coach .right-category-btns .fa {
    position: relative;
}
body.coach .right-category-btns .btn_mag_single_view::after {
    background: rgba(0, 0, 0, 0) url("../images/coach_single.png") no-repeat scroll;
    background-position: 100% 0;
    background-size: contain;
    content: "";
    height: 100px;
    margin-right: -8px;
    margin-top: -8px;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    z-index: 1000;
}
body.coach .right-category-btns .btn_mag_grid_view::after {
    background: rgba(0, 0, 0, 0) url("../images/coach_grid.png") no-repeat scroll;
    background-position: 100% 0;
    background-size: contain;
    content: "";
    height: 129px;
    margin-right: -6px;
    margin-top: -8px;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    z-index: 1000;
}
body.coach .freyo-header .btn-group.pull-right .right-category-btns {
    position: relative;
    z-index: 2;
}
body.coach .magazines-viewer::before {
    background: rgba(0, 0, 0, 0) url("../images/coach_swipeleft.png") no-repeat scroll;
    background-position: 50% 180px;
    background-size: 50% auto;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    /*left: 0;*/
    margin: 0 auto;
    max-width: 500px;
    position: fixed;
    right: 35%;
    top: 0;
    width: 80%;
    z-index: 2000;
}
body.coach .magazines-viewer::after {
    background: rgba(0, 0, 0, 0) url("../images/coach_like.png") no-repeat scroll;
    background-position: 50% 180px;
    background-size: 50% auto;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 35%;
    margin: 0 auto;
    max-width: 500px;
    position: fixed;
    /*right: 0;*/
    top: 0;
    width: 80%;
    z-index: 2000;
}
body.coach .magazines-viewer {
    z-index: initial;
}
body.coach .close-coachmark {
    display: block !important;
    bottom: 20px;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 20;
}
body.coach .close-coachmark > button {
    background-color: #fff;
    border: medium none;
    border-radius: 11px;
    box-shadow: none;
    font-size: 18px;
    font-weight: 800;
    padding: 10px 30px;
}
.magazines-viewer .owl-controls {
    display: none;
}
.magazine-page-num {
    color: #666;
    margin-top: 10px;
    margin-bottom: 0;
}
.gridview-magazine .f-magazine-item {
    margin-bottom: 5px;
}
.signout-dialog-box .modal-dialog,
.resetpassword-modal .modal-dialog{
/*    bottom: 40%;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    width: 250px;*/
    left: 50%;
    margin: -80px 0 0 -125px;
    position: fixed;
    right: 0;
    top: 50%;
    width: 250px;
}
.signout-dialog-box .modal-header {
    border-bottom: medium none;
    padding: 10px;
}
.signout-dialog-box .modal-title {
    font-size: 20px;
    font-weight: 500;
}
.signout-dialog-box .modal-body {
    padding: 5px;
}
.signout-dialog-box .modal-footer {
    overflow: hidden;
    padding: 10px 0;
}
.signout-dialog-box .modal-footer > a:first-child {
    border-right: 1px solid #e5e5e5;
}
.signout-dialog-box .modal-footer > a {
    color: #157efb;
    font-size: 18px;
    padding: 27px;
}
.sign-out-now {
    font-weight: 500;
}
.requestreset_message {
    margin: 10px 0;
    padding: 5px;
}
.resetpassword-modal .fsu-input {
    margin: 5px 0 10px;
}
.featured-magazine-container {
    margin-bottom: 15px;
}
.featured-magazine-container:not(.feat-category--1) .category-items-container .featured-issue-dashboard {
    margin-bottom: 15px;
}
.error-rating-message {
    color: #f00;
    font-weight: 500;
    font-size: 16px;
}
.close.close-closest-modal {
    font-size: 30px;
}
.sidebar-left-in .sidebar-in-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
}
.search-input-box {
    /*background-color: #ccc;*/
    background-color: #f1f1f1;
    display: block;
    height: 60px;
    margin-bottom: 10px;
    padding: 10px 20px;
    position: relative;
}
.search-input-box .fa.fa-search {
    color: #888;
    font-size: 21px;
    position: absolute;
    right: 30px;
    top: 18px;
    z-index: 2;
}
.search-input-box input {
    height: 39px;
    padding-right: 38px;
    border: none;
    line-height: normal;
}
.search-input-box input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-style: italic;
    line-height: 39px;
}
.search-input-box input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-style: italic;
    line-height: 39px;
}
.search-input-box input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-style: italic;
    line-height: 39px;
}
.search-input-box input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: italic;
    line-height: 39px;
}
.search-input-box input:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    font-style: italic;
    line-height: 39px;
}
.support-message-input {
    margin: 25px 0 15px;
}
.support-message-input > textarea {
    background: rgb(204, 204, 204) none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    min-height: 100px;
    padding: 5px 10px;
    resize: none;
    width: 100%;
}
.support-message-input.fsu-active span {
    top: -25px;
    left: 0;
}
.f-recaptcha-container {
    margin: 0 0 15px;
}
.support-message-input span {
    left: 11px;
    top: 5px;
}
.f-topcharts-filter {
    padding: 5px 15px 0;
}
.f-topcharts-filter input {
    display: none;
    margin: 10px;
    position: absolute;
    z-index: -1;
}
.f-topcharts-filter input + label {
    background-color: #fff;
    /*border: 1px solid #000;*/
    color: #000;
    font-weight: 500;
    padding: 2px;
    text-align: center;
    width: 100%;
    font-size: 12px;
}
.f-topcharts-filter input:checked + label {
    background-color: #000;
    color: #fff;
}
.btn-group.justified.nav-tabs.f-topcharts-filter.ng-scope > div:first-child label {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 0;
}
.btn-group.justified.nav-tabs.f-topcharts-filter.ng-scope > div:last-child label {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 0;
}
.liked-response-heart,
.unliked-response-heart {
    height: 100px;
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 100px;
    z-index: 99999;
}
/*.liked-response-heart .fa.fa-heart {
    color: #ae3535;
    font-size: 100px;
    margin: -30px 0 0 -30px;
    position: fixed;
}*/
.liked-response-heart .fa.fa-paperclip {
    color: #ae3535;
    font-size: 100px;
    margin: -30px 0 0 -30px;
    position: fixed;
}
.unliked-response-heart .fa {
    color: #555;
    font-size: 100px;
    margin: -30px 0 0 -30px;
    position: fixed;
}
.unlike-instruction {
  padding: 5px 10px;
  text-align: center;
}
.subscribe-status .modal-footer {
    background-color: #e6e6e6;
    padding: 10px;
}
.subscribe-status .modal-content {
    border-radius: 0;
}
.subscribe-status p {
    font-size: 15px;
    margin: 0;
    padding: 10px 0;
}
.subscribe-status p > b {
    display: block;
    font-size: 18px;
    position: relative;
    top: 7px;
}
.subscribe-status p > i {
    color: #157efb;
    font-size: 20px;
    margin-right: 5px;
}
.subscribe-status .modal-footer > a {
    display: block;
    font-size: 14px;
    padding: 5px;
    text-align: center;
}
.subscribe-status .modal-footer > a:first-child {
    background-color: #157efb;
    color: #fff;
    border-right: none;
    margin-bottom: 5px;
}
.fa.fa-bookmark.favorite-action {
    right: 2px;
}
.teaser-image-content {
    position: absolute;
    top: 25%;
    width: 100%;
}
.teaser-image-content h5 {
    font-weight: 300;
    margin-bottom: 15px;
}
.teaser-goregister {
    background-color: #eb3939;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 65px;
}
.teaser-gologin {
    display: block;
    margin-top: 15px;
    text-decoration: underline;
}
.teaser-freyologo{
    bottom: 60px;
    left: 0;
    position: absolute;
    right: 0;
    width: 25% !important;
}
/*.lazy-container {
    padding-bottom: 129.3%;
    display: block;
     position: relative;
     height: 0;
}
.lazy-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/
/* .magazine-page-container .invisible-placeholder {
    padding-bottom: 129%;
    position: relative;
}
.magazine-page-container .invisible-placeholder > img {
    display: block;
    margin: 0 auto;
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
} */
.lazy-load-container {
    display: block;
    padding-bottom: 130%;
    position: relative;
}
.lazy-load-container .magazing-cover {
    left: 0;
    position: absolute;
    top: 0;
}
.featured-magazine-container .magazing-cover {
    /* border-right: 2px solid transparent; */
}
/*.sharing-modal .modal-dialog {
    left: auto;
    margin: 0;
    right: 10px;
    top: 10px;
}*/
.sharing-modal .modal-footer {
    padding: 15px 20px;
}
.sharing-modal .modal-footer > a {
    display: block;
    padding: 10px !important;
    text-align: center;
    margin: 5px 0;
    position: relative;
    border-radius: 5px;
    font-size: 16px;
}
.sharing-modal .modal-footer > a:first-child {
    border-right: none;
}
.sharing-modal a.share-facebook {
    background-color: #3b5998;
    color: #fff;
}
.sharing-modal a.share-twitter {
    background-color: #55acee;
    color: #fff;
}
.sharing-modal a.share-google {
    background-color: #dc4e41;
    color: #fff;
}
.sharing-modal .modal-footer > a i{
    float: left;
    font-size: 25px;
    left: 10px;
    position: absolute;
    top: 12px;
}
@media (min-width:450px) {
    .magazine-details-container .btn-group {
        margin-top: 5px;
    }
}
/* @media (min-width:500px) {
    .magazine-title {
        min-height: 34px;
        max-height: 34px;
    }
} */
/* .f-select-gender .col-xs-5.no-gutters {
    padding: 0 10px;
} */
.f-select-gender .col-xs-3:not(:last-child) {
    margin-right: 4%;
}
@-webkit-keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }
@keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }
.uil-default-css { background:none;width:200px;height:200px;transform:scale(0.6);}
.uil-default-css > div:nth-of-type(1){
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.uil-default-css > div:nth-of-type(2){
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: -0.16666666666666669s;
    animation-delay: -0.16666666666666669s;
}
.uil-default-css > div:nth-of-type(3){
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: 0.16666666666666663s;
    animation-delay: 0.16666666666666663s;
}
.uil-default-css .thedots {
    top:80px;
    left:80px;
    width:40px;
    height:40px;
    background:#ffffff;
    border-radius:40px;
    position:absolute;
}
.uil-default-css .thedots.topdot {
    -webkit-transform:rotate(0deg) translate(0,-50px);
    transform:rotate(0deg) translate(0,-50px);
}
.uil-default-css .thedots.leftdot {
    -webkit-transform:rotate(120deg) translate(0,-50px);
    transform:rotate(120deg) translate(0,-50px);
}
.uil-default-css .thedots.rightdot {
    -webkit-transform:rotate(240deg) translate(0,-50px);
    transform:rotate(240deg) translate(0,-50px);
}
/*.lazy-load-container .uil-default-css {
    position: absolute !important;
    top: 0 !important;
}
.lazy-load-container .uil-default-css .thedots{
    background: #000;
}*/
.wtoucharea {
    position: relative;
}
.magazine-additional-content {
    background: #fff none repeat scroll 0 0;
    color: #000;
    /*height: 100%;*/
    /*left: 0;*/
    /*overflow-y: hidden;*/
    padding: 20px;
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: -50px;*/
    width: 100%;
    z-index: 4;
    /*-webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%);*/
    /*text-overflow: ellipsis;*/
    margin-bottom: 20px;
}
/*.magazine-additional-content:after {
    content: "\27A4";
    transform: rotate(-90deg);
}*/
.magazine-content {
    padding-top: 20px;
    position: relative;
    padding-bottom: 20px;
}

.hide-mag-content {
    cursor: pointer;
    font-size: 26px;
    padding: 5px 10px;
    position: absolute;
    right: 15px;
    top: 5px;
    z-index: 4;
}
.magazine-content > div {
    position: relative;
}
.page-to-like {
    position: relative;
}
.mag-video-container {
    position: relative;
}
video.mag-video-player {
    /* background: #000 none repeat scroll 0 0;
    height: 100vw;
    left: 0;
    margin-top: -100vw;
    object-fit: cover;
    position: absolute;
    top: 0;
    transform: rotate(90deg);
    transform-origin: left bottom 0;
    width: 100vh;
    z-index: 25; */
}
.read-more-notice.text-center {
    background: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0) -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%) repeat scroll 0 0;
    background: rgba(255, 255, 255, 0) -o-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%) repeat scroll 0 0;
    background: rgba(255, 255, 255, 0) -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%) repeat scroll 0 0;
    background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%) repeat scroll 0 0;
    bottom: 0;
    color: #000;
    left: 0;
    position: absolute;
    right: 0;
    height: 50px;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -o-transform: translateZ(0);
    -moz-transform: translateZ(0);
}
.read-more-text {
    padding-top: 30px;
}
.is-loading {
    padding-bottom: 128%;
    position: relative;
    display: block;
    /* background: rgba(255, 255, 255, 0.8) url("../images/loading.gif") no-repeat scroll center center; */
}
.is-loading > img {
    visibility: none !important;
    display: none !important;
}
.magazine-cover-container > a.is-loading {
    padding-bottom: 123%;
}
/* IMAGE PRELOADER */
.cssload-spin-box {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    box-shadow: 0px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
        -o-box-shadow: 0px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
        -ms-box-shadow: 0px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
        -webkit-box-shadow: 0px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
        -moz-box-shadow: 0px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
    animation: cssload-spin ease infinite 4.6s;
        -o-animation: cssload-spin ease infinite 4.6s;
        -ms-animation: cssload-spin ease infinite 4.6s;
        -webkit-animation: cssload-spin ease infinite 4.6s;
        -moz-animation: cssload-spin ease infinite 4.6s;
}
@keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 0px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
    }
    33% {
        box-shadow: -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 0px 15px rgb(79,77,73);
    }
    66% {
        box-shadow: 15px -15px rgb(223,223,223), 0px 15px rgb(79,77,73), -15px -15px rgb(223,223,223);
    }
}
@-o-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 0px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
    }
    33% {
        box-shadow: -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 0px 15px rgb(79,77,73);
    }
    66% {
        box-shadow: 15px -15px rgb(223,223,223), 0px 15px rgb(79,77,73), -15px -15px rgb(223,223,223);
    }
}
@-ms-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 0px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
    }
    33% {
        box-shadow: -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 0px 15px rgb(79,77,73);
    }
    66% {
        box-shadow: 15px -15px rgb(223,223,223), 0px 15px rgb(79,77,73), -15px -15px rgb(223,223,223);
    }
}
@-webkit-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 0px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
    }
    33% {
        box-shadow: -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 0px 15px rgb(79,77,73);
    }
    66% {
        box-shadow: 15px -15px rgb(223,223,223), 0px 15px rgb(79,77,73), -15px -15px rgb(223,223,223);
    }
}
@-moz-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 0px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
    }
    33% {
        box-shadow: -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 0px 15px rgb(79,77,73);
    }
    66% {
        box-shadow: 15px -15px rgb(223,223,223), 0px 15px rgb(79,77,73), -15px -15px rgb(223,223,223);
    }
}
/* IMAGE PRELOADER END */


/* NEW DASHBOARD */
.feat-category--1 {
    /*background: #fff none repeat scroll 0 0;*/
    margin-top: 15px;
    padding-bottom: 20px;
}
.feat-category--1 .category-item-header {
    /*background-color: #3C3C3C;
    border-bottom: medium none;
    border-radius: 3px;
    bottom: 16px;
    margin: 0 -10px;
    padding: 5px 10px;
    position: relative;*/
}
.category-item-header {
    /*border-bottom: 1px solid #d7d7d7;*/
    margin-bottom: 5px;
}
.feat-category--1 .category-item-header .category-title {
    color: #000;
}
.feat-category--1 .category-item-header .category-all .freyo-prime-all {
    color: #868686;
}
.feat-category--1 .category-item-header .category-all i.fa {
    color: #1b1b1b;
}
.category-item-header .category-all .category-others {
    font-size: 12px;
}
.category-item-header .category-all i.fa {
    color: #a5a5a5;
    margin-left: 10px;
}
/* END NEW DASHBOARD */
/* RELATED MAGAZINES */
.magazine-pages .featured-magazine-container {
    padding: 0 20px;
}
.magazine-pages .featured-magazine-container:last-child {
    margin-bottom: 0;
}
.magazine-pages .category-item-header {
    border-color: #666;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.magazine-pages .magazine-title {
    color: #fff;
    word-wrap: break-word;
}

.magazine-pages .category-item-header .category-title,
.magazine-pages .category-item-header .category-all .category-others,
.magazine-pages .category-item-header .category-all i.fa {
    color: #666;
}
/* END RELATED MAGAZINES */
.f-select-address .col-xs-6.no-gutters {
    padding-right: 10px;
}
.f-select-address .col-xs-6.no-gutters:last-child {
    padding-left: 10px;
    padding-right: 0;
}
.f-select-gender .col-xs-3:not(:nth-child(3)) {
    padding: 0 10px;
}
label.prof-pic-cheat {
    bottom: 45px;
    display: inline-block;
    font-weight: bold;
    height: 120px;
    margin-bottom: 5px;
    max-width: 100%;
    position: relative;
    width: 120px;
}

.f-walkthrough .owl-item .verticalalign, .walkthrough-img-container .owl-item,
.f-walkthrough .owl-stage, .f-walkthrough .owl-stage-outer {
    height: 100%;
}

.f-walkthrough .owl-controls {
    display: none;
}

.f-walkthrough .owl-item .verticalalign {
    position: relative;
}

.f-walkthrough .owl-item img {
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    transform: translate(0,-45%);
    transform: translate3d(0,-45%,0);
    -ms-transform: translate(0,-45%);
    -ms-transform: translate3d(0,-45%,0);
    -webkit-transform: translate(0,-45%);
    -webkit-transform: translate3d(0,-45%,0);
    margin: 0 auto;
    min-width: 200px;
    min-height: 200px;
}


/* NEW STARS */
/* .review-count.ng-binding {
    bottom: 9px;
    position: relative;
} */
.rating-container .filled-stars {
    /*color: #cc9900; 10-5-16*/
    color: #000;
    text-shadow: none;
}
.rating-container .empty-stars {
    /*color: #c7c7c7; 10-5-16*/
    color: #000;
}
.rating-container .star {
    font-size: 10px;
    margin: 0 2px;
}
.rating-container .rating {
    top: 5px;
}
.magazine-options-container .rate .rating-container .rating {
    top: 0;
}
.rate-review-form .rating-container .rating {
    top: 0;
}
.magazine-reviews-container .rating-container .rating {
    bottom: 5px;
    top: initial;
}
/* END NEW STARS */

#update-modal.signout-dialog-box .modal-footer > a {
    color: #157EFB;
    font-size: 18px;
    padding: 33px;
}
#update-modal.signout-dialog-box .modal-footer > a:first-child {
    color: #666;
}


/* 9-29-16 */
.fsi-msg-border { 
    border: 1px solid white;
}
.fsu-msg-border {
    border: 1px solid black;
}
.f-msg-bg-si {
    background-color: #000;
}
.f-msg-bg-su {
    background-color: #fff;
}
.f-msg-si {
    color: #fff;
}
.f-msg-su {
    color: #000;
}
/* end */


/* 10-3-16*/
.f-section-item a {
    display: block;
}
/* end */


/* 10-5-16 */
.magazines-browser-slider .magazine-category-name {
    color: rgb(0, 0, 0);
    font-family: Proxima Nova, sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: block;
    overflow: initial;
    max-height: initial;
    margin-bottom: 5px;
    word-wrap: break-word;
    line-height: 20px;
    text-transform: uppercase;
}
/* end */


/* 10-6-16 */
.other-issues-container .magazine-title {
    text-align: center;
    text-transform: initial;
}
.other-issues-container .other-issues-title {
    color: #696969;
    font-size: 10px;
}
.other-issues-slider .owl-stage {
    padding-left: 0px !important;
}
.other-issues-container .view-more {
    color: #696969;
}
.other-issues-slider .owl-prev,
 .other-issues-slider .owl-next{
    color: #fff;
}
/* end */

/* 10-7-16 */
/*@media screen and (min-height: 640px) {
    .magazines-viewer {
        margin-top: 50px;
    }
    
}*/
/*@media screen and (min-height: 1280px) {
    .magazines-viewer {
        margin-top: 100px;
    }
    
}*/

/* end */


/* 10-10-16 */
.other-issues-slider .owl-prev i, .other-issues-slider .owl-next i{
	background-color: rgba(0,0,0,0.7);
}
.other-issues-slider .owl-controls {
    font-size: 40px;
    margin-top: 0;
    /* padding: 0 12px; */
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
    transform: translateZ(0);
}
/* end */

/* 10-11-16 */ 
.more-review .view-more {
    font-size: 12px;
    color: #808080;
}
.magazine-information-container .magazine-header,
.magazine-information-container .magazine-details-container,
.magazine-information-container .magazine-review-rating-container,
.magazine-information-container .magazine-reviews-container,
.magazine-information-container .other-issues-container{
    margin-left: 30px;
    margin-right: 30px;
}
/*end*/

/* 10-19-16 */
.review-no-comment {
    margin: 20px auto;
    text-align: center;
}
.no-comment-msg {
    font-style: italic;
    color: #969696;
    font-size: 13px;
}
.f-comments-body {
    margin:  0 40px;
    height: 70%;
    overflow: auto;
}
.f-comment-item {
    list-style: none;
    margin-left: -39px;
    color: #000;
}
.f-comments-name {
    font-weight: bold;
    font-size: 13px;
}
.f-comments-message {
    font-size: 12px;
    line-height: 13px;
}
/*end*/

/* 10-20-16 */
.time-ago {
    font-size: 10px;
    line-height: 10px;
    color: #959595;
}
.f-comments-header {
    margin: 70px 40px 0 40px;
}
/* end */

/* 10-21-16 */
.f-comment-box {
    padding: 0 40px;
    background-color: #c1c1c1;
}
.f-cmnts-input {
    border: none;
    box-shadow: inset 0px 0px 0px 0px;
    padding: 10px 0;
    background-color: #c1c1c1;
    color: #000;
    width: 75%;
}
.f-cmnts-input::-webkit-input-placeholder {
    color: #2c2c2c;
}
.f-submit-comment {
    width: 25%;
    border: 0;
    background: none;
    background-color: #000;
    color: #fff;
    box-shadow:none;
    border-radius: 0px;
    position: absolute;
    right: 0px;
    height: 46px;
}
/* end */

/* 10-24-16 */
.ratings-more {
    width: 15px !important;
    float: right;
    margin-right: -8px;
}
.dropdown-show {
    display: block !important;
    z-index: 10;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    right: 0;
}
.dropdown-content a {
    color: #a1a1a1;
    display: block;
}
.dropdown-list {
    padding:0;
    list-style-type: none;
    margin: 0;
}
.dropdown-list .dropdown-more-item {
    list-style: none;
    border-bottom: 1px solid #a1a1a1;
    padding: 5px 60px 5px 18px;

}
.dropdown-list .dropdown-more-item:last-child {
    border-bottom: none !important;
}


.sharing-modal .modal-dialog {
    /* margin: -80px 0 0 -125px; */
    /*position: none !important; */
    /* right: 14%; */
    /* top: 50%; */
    /* width: 100%; */
    margin-top: 70%;
}
.sharing-modal .modal-dialog a {
    /* margin: -80px 0 0 -125px; */
    /*position: none !important; */
    /* right: 14%; */
    /* top: 50%; */
    /* width: 100%; */
    margin: 0 20px;
}
.review-rate-container .rating-container {
    /* overflow: hidden; */
    position: relative;
    margin-top: 0;
    margin-left: -6px;
}
.review-rate-container .rating-container .filled-stars, .review-rate-container .rating-container .empty-stars {
    color: #868686;
    text-shadow: none;
}
.arrowup-overlay {
    position: relative;
    left: calc(50% - 25px);
    top: -22px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 30px;
    padding: 4px 13px;
    overflow: hidden;
    border: 0 solid;
    -webkit-border-radius: 132px 132px 0 0 / 120px 120px 56px 56px;
    border-radius: 132px 132px 0 0 / 120px 120px 56px 56px;
    /*font: normal 16px/1 Tahoma, Geneva, sans-serif;*/
    color: #828282;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #ffffff; ;
    /*margin-left: -15px;*/
}
.content-slide-up {
    margin-top: -100%;
}
.magazine-reviews-container h5 {
    color: #808080;
}
.magazine-additional-content {
    overflow-y: hidden;
}
.hide-overflow {
    height: 100px;
}
.background-check.background--light {
    color: #000;
}
.background-check.background--dark {
    color: #fff;
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}
.f-recommended {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    border-radius: 5px;
    height: inherit;
    background-color: #fff;
}
.f-magazine-bg {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    height: inherit;
    background-color: #fff;
}
.f-dashboard {
    background-color: #f1f1f1;
}
.f-section-header-i {
    padding: 10px 40px;
    font-size: 10px;
    color: #adadad;
}
.f-interests {
    min-height: 100px;
    margin: 0 40px;
    overflow: auto;
}
.f-interest-item {
    float: left;
    padding: 3px 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    background-color: #000;
    color: #fff;
}
.f-interest-item a {
    color: #fff;
}
.f-interest-header {
    margin-bottom: 20px !important;
}
.darken {
    color: #000 !important;
}
.f-dots {
    padding-top: 10px;
}
.f-interest-item label {
    margin-bottom: 0px !important;
}
.center {
    width: 140px;
    height: 100%;
    margin: 0 auto;
    display: block;
}
.f-top-charts, .f-search {
    padding-top: 50px;
    background-color: #f1f1f1;
}
#update-interest-modal .modal-footer {
    text-align: center !important;
}
#update-interest-modal .modal-footer > a:first-child {
    border-right: none !important
}