.section.ng-scope {
    border: 0 none;
    padding: 0;
}

.header3 {
    color: rgb(44, 44, 44);
    font-size: 15px;
}

.btn-group.justified a {
    background: #000 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #3a3a3a;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    transition: all 0.3s;
    height: 40px;
}

.btn-group.justified a.active {
    background: #000 none repeat scroll 0 0;
    border-bottom: 3px solid #d2d2d2;
}

.magazine-items .magazine-item {
    display: inline-block;
    margin: 0 5px;
    /*overflow: hidden;*/
    width: 30%;
}

.magazine-items {
    display: block;
    text-align: center;
}

.category-item-header .category-title {
    color: #525252;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}

.category-item-header .category-all {
    color: #525252;
    float: right;
    font-size: 14px;
}

.magazine-items .magazine-item {
    display: inline-block;
    margin: 0 5px;
    /*overflow: hidden;*/
    vertical-align: top;
    width: 30%;
}

.magazing-cover {
    -moz-box-shadow: 4px 4px 4px #606060;
    -webkit-box-shadow: 4px 4px 4px #606060;
    box-shadow: 4px 4px 4px #606060;
}

.magazine-title {
    color: #666666;
    font-size: 13px;
    line-height: normal;
    /*margin: 7px 3px;*/
    margin-top: 10px;
    margin-bottom: 5px;
    /*min-height: 51px;
    max-height: 51px;*/
    min-height: 34px;
    max-height: 34px;
    overflow: hidden;
}

.col-p-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.magazine-items .magazine-item:first-child {
    margin-left: 0;
}

.magazine-items .magazine-item:last-child {
    margin-right: 0;
}

.magazine-rating {
    font-size: 9px;
    line-height: 0;
    position: relative;
}

.magazine-options {
    color: #252525;
    font-size: 10px;
    line-height: 15px;
}

.magazine-options .fa::before {
    padding-right: 5px;
}

.rating-container {
    color: #999999;
    overflow: hidden;
    position: relative;
}

.block-magazine {
    min-height: 500px;
    opacity: 0.5;
    transition: all 0.3s ease 0s;
    width: 100%;
}

.owl-item.active .block-magazine {
    opacity: 1;
}

.owl-item img.magazine-cover-photo {
    display: block;
    margin: 0 auto;
    width: auto;
}

.owl-item img.magazine-cover-photo {
    display: block;
    margin: 0 auto 20px;
    max-width: 93%;
    width: auto;
    /*-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.50);

    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.50);

    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.50);*/
    -webkit-box-shadow: 5px 5px 10px #bebebe;
    -moz-box-shadow: 5px 5px 10px #bebebe;
    box-shadow: 5px 5px 10px #bebebe;
}

.owl-item .magazine-information-container {
    margin: 0 -45px;
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.owl-item.active .magazine-information-container {
    opacity: 1;
}

.magazines-browser-slider {
    padding: 60px 0 0;
    z-index: initial;
}

.magazines-browser-slider .magazine-title {
    color: rgb(40, 40, 40);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    padding: 0 20%;
    text-align: center;
    display: block;
    overflow: initial;
    max-height: initial;
}

.magazine-published-date {
    color: rgb(102, 102, 102);
    font-size: 12px;
    margin-top: 3px;
    text-align: center;
}

.magazines-browser-slider .magazine-options-container {
    border-bottom: 1px solid rgb(200, 200, 200);
    border-top: 1px solid rgb(200, 200, 200);
    font-size: 12px;
    padding: 5px 0;
}

.magazines-browser-slider .magazine-options-container > * {
    display: inline-block;
    margin-right: 10px;
}

.magazines-browser-slider .magazine-options-container > .rate {
    float: right;
    margin-right: 0;
}

.magazines-browser-slider .magazine-options-container > .rate .rating-xs {
    display: inline-block;
    font-size: 15px;
    margin-right: 5px;
}

.review-count {
    display: inline-block;
    float: right;
}

.magazine-details-container .label {
    color: rgb(44, 44, 44);
    font-size: 14px;
    padding: 0;
    text-transform: uppercase;
}

.magazine-details-container p {
    color: rgb(102, 102, 102);
    font-size: 13px;
}

.magazine-details-container {
    padding: 15px 0;
}

.magazine-review-rating-container {
    border-top: 1px solid rgb(194, 194, 194);
    padding: 15px 0;
}

.review-input-container > textarea {
    background: rgb(204, 204, 204) none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    min-height: 100px;
    padding: 5px 10px;
    resize: none;
    width: 100%;
}

.review-rate-container {
    font-size: 12px;
}

.review-rate-container > * {
    display: inline-block;
    margin-right: 5px;
}

.review-rate-container > span {
    font-size: 13px;
}

.review-rate-container > .star-rating {
    font-size: 20px;
}

button.submit-review {
    background: rgb(29, 181, 61) none repeat scroll 0 0;
    border: medium none;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 15px;
    text-align: center;
    width: 100%;
}

.magazine-reviews-container {
    border-top: 1px solid rgb(204, 204, 204);
    padding: 20px 0;
}

.review-item {
    margin-bottom: 20px;
}

.review-header > * {
    display: inline-block;
}

.review-message-container {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 5px;
    font-size: 13px;
    line-height: normal;
    padding: 25px 10px 10px;
}

.review-header {
    padding-left: 80px;
    position: relative;
}

.reviewer-photo {
    border-radius: 50%;
    bottom: -20px;
    display: inline-block;
    float: left;
    left: 0;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 50px;
    position: absolute;
}

.reviewer-name {
    color: rgb(36, 36, 36);
    font-size: 14px;
    margin-bottom: 5px;
}

.reviewer-rating-container {
    float: right;
}

.reviewer-rating-container > .star-rating {
    font-size: 15px;
}

.page-options {
    padding: 12px;
}

.page-options .fa {
    font-size: 19px;
    font-weight: normal;
    line-height: normal;
    margin-left: 15px;
    margin-top: 4px;
    vertical-align: top;
}

body.coach .page-options .fa {
    position: relative;
}

body.coach .app-body::before {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

body.coach .freyo-header::before {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

body.coach .page-options .favorite-action::after {
    background: rgba(0, 0, 0, 0) url("../images/coach_favorite.png") no-repeat scroll 100% 0 / contain;
    content: "";
    height: 100px;
    margin-right: -8px;
    margin-top: -8px;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    z-index: 1000;
}

body.coach .navbar-absolute-top {
    z-index: 2000;
}

body.coach .page-options .share-action::after {
    background: rgba(0, 0, 0, 0) url("../images/coach_share.png") no-repeat scroll 100% 0 / contain;
    content: "";
    height: 129px;
    margin-right: -10px;
    margin-top: -8px;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    z-index: 1000;
}

body.coach .freyo-header .btn-group.pull-right .page-options {
    position: relative;
    z-index: 2;
}

.magazine-cover-container {
    position: relative;
}

body.coach .magazines-browser-slider::before {
    background: rgba(0, 0, 0, 0) url("../images/coach_open.png") no-repeat scroll 50% 180px / 50% auto;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    margin: 0 auto;
    max-width: 500px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2000;
}