.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #000;
  position: relative;
}

.loading-spinner,
.uil-default-css {
    /*background: rgba(0, 0, 0, 0) url("../images/freyo-loader.gif") no-repeat scroll 0 0;*/
    position: absolute !important;
    /*font-size: 50px;*/
    left: 50%;
    top: 40%;
    right: 50%;
    left: 50%;
    margin: 0 -100px;
    width: 100px;
    height: 100px;
}

.ads-is-viewed{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 9999;
}
.block-all-action {
    background: rgba(255, 0, 0, 0) none repeat scroll 0 0;
    height: 100%;
    width: 100%;
}
.ads-ticktock {
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    height: 31px;
    position: absolute;
    right: 12px;
    text-align: center;
    top: 12px;
    width: 31px;
}
/*pat css*/
.section.ng-scope {
    border: 0 none;
    padding: 0;
}

.header3 {
    color: rgb(44, 44, 44);
    font-size: 15px;
}

.btn-group.justified a {
    background: #000 none repeat scroll 0 0;
    border: medium none;
    border-bottom-color: transparent;
    border-radius: 0;
    border-color: transparent;
    color: #3a3a3a;
    font-size: 13px;
    font-weight: bold;
    /* border-bottom: 1px solid #fff; */
    transition: all 0.3s;
    height: 40px;
}

.profile-btn-group.btn-group.justified a {
    border-bottom: none;
}

.btn-group.justified a.active {
    background: #000 none repeat scroll 0 0;
    border-bottom: 3px solid #fff;
    color: #fff;
}
.profile-btn-group.btn-group.justified a.active {
    background: none;
    border-bottom: none;
}

.magazine-items {
    display: block;
    text-align: center;
}

.category-item-header .category-title {
    color: #525252;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}

.category-item-header .category-all {
    color: #525252;
    float: right;
    font-size: 14px;
}

.magazine-items .magazine-item {
    display: inline-block;
    margin: 0;
    /*margin: 0 5px;*/
    /*overflow: hidden;*/
    vertical-align: top;
    /*width: 30%;*/
    width: 33.3%;
}

.magazing-cover {
/*    -moz-box-shadow: 4px 4px 4px #606060;
    -webkit-box-shadow: 4px 4px 4px #606060;
    box-shadow: 4px 4px 4px #606060;*/
}

.magazine-title {
    color: #666666;
    font-size: 13px;
    line-height: normal;
    /*margin: 7px 3px;*/
    margin-top: 10px;
    margin-bottom: 5px;
    /*min-height: 51px;
    max-height: 51px;*/
    min-height: 34px;
    max-height: 34px;
    overflow: hidden;
}

.col-p-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.magazine-items .magazine-item:first-child {
    margin-left: 0;
}

.magazine-items .magazine-item:last-child {
    margin-right: 0;
}

.magazine-rating {
    font-size: 9px;
    line-height: 0;
    position: relative;
}

.magazine-options {
    color: #252525;
    font-size: 10px;
    line-height: 15px;
}

.magazine-options .fa::before {
    padding-right: 5px;
}

.rating-container {
    color: #c7c7c7;
    overflow: hidden;
    position: relative;
}

.block-magazine {
    min-height: 500px;
    opacity: 0.5;
    transition: all 0.3s ease 0s;
    width: 100%;
}

.owl-item.active .block-magazine {
    opacity: 1;
}

.owl-item img.magazine-cover-photo {
    display: block;
    margin: 0 auto;
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
}

.owl-item img.magazine-cover-photo {
    display: block;
    margin: 0 auto 20px;
    max-width: 93%;
    width: auto;
    /*-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.50);

    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.50);

    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.50);*/
    /*-webkit-box-shadow: 5px 5px 10px #bebebe;
    -moz-box-shadow: 5px 5px 10px #bebebe;
    box-shadow: 5px 5px 10px #bebebe;*/
}

.owl-item .magazine-information-container {
    margin: 0 -45px;
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.owl-item.active .magazine-information-container {
    opacity: 1;
}

.magazines-browser-slider {
    padding: 45px 0 0;
    z-index: initial;
}

.magazines-browser-slider .magazine-title {
    color: rgb(40, 40, 40);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    padding: 0 20%;
    text-align: center;
    display: block;
    overflow: initial;
    max-height: initial;
}

.magazine-published-date {
    color: rgb(102, 102, 102);
    font-size: 12px;
    margin-top: 3px;
    text-align: center;
}

.magazines-browser-slider .magazine-options-container {
    border-bottom: 1px solid rgb(200, 200, 200);
    border-top: 1px solid rgb(200, 200, 200);
    font-size: 12px;
    padding: 5px 0;
}

.magazines-browser-slider .magazine-options-container > * {
    display: inline-block;
}
.magazines-browser-slider .magazine-options-container > .views {
    margin-right: 5px;
}

.magazines-browser-slider .magazine-options-container > .rate {
    float: right;
    margin-right: 0;
}

.magazines-browser-slider .magazine-options-container > .rate .rating-xs {
    display: inline-block;
    font-size: 15px;
    margin-right: 5px;
    position: relative;
    bottom: 1px;
}

.review-count {
/*    display: inline-block;
    float: right;*/
}

.magazine-details-container .label {
    color: rgb(44, 44, 44);
    font-size: 14px;
    padding: 0;
    text-transform: uppercase;
}

.magazine-details-container p {
    color: rgb(102, 102, 102);
    font-size: 13px;
}

.magazine-details-container {
    padding: 15px 0;
}

.magazine-review-rating-container {
    border-top: 1px solid rgb(194, 194, 194);
    padding: 15px 0;
}

.review-input-container > textarea {
    background: rgb(204, 204, 204) none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    min-height: 100px;
    padding: 5px 10px;
    resize: none;
    width: 100%;
}

.review-rate-container {
    font-size: 12px;
}

.review-rate-container > * {
    display: inline-block;
    margin-right: 5px;
}

.review-rate-container > span {
    font-size: 13px;
}

.review-rate-container > .star-rating {
    font-size: 20px;
}

button.submit-review {
    background: rgb(29, 181, 61) none repeat scroll 0 0;
    border: medium none;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 15px;
    text-align: center;
    width: 100%;
}

.magazine-reviews-container {
    /* border-top: 1px solid rgb(204, 204, 204); */
    padding: 20px 0;
}

.review-item {
    margin-bottom: 20px;
}

.review-header > * {
    display: inline-block;
}

.review-message-container {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 5px;
    font-size: 13px;
    line-height: normal;
    padding: 25px 10px 10px;
}

.review-header {
    padding-left: 80px;
    position: relative;
}

.reviewer-photo {
    border-radius: 50%;
    bottom: -20px;
    display: inline-block;
    float: left;
    left: 0;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 50px;
    position: absolute;
}

.reviewer-name {
    color: rgb(36, 36, 36);
    font-size: 14px;
    margin-bottom: 5px;
}

.reviewer-rating-container {
    float: right;
}

.reviewer-rating-container > .star-rating {
    font-size: 15px;
}

.page-options {
    padding: 12px;
}

.page-options .fa {
    font-size: 19px;
    font-weight: normal;
    line-height: normal;
    margin-left: 8px;
    margin-top: -4px;
    padding: 5px;
    vertical-align: top;
}

body.coach .page-options .fa {
    position: relative;
}

body.coach .app-body::before {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

body.coach .freyo-header::before {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

body.coach .page-options .favorite-action::after {
    background: rgba(0, 0, 0, 0) url("../images/coach_favorite.png") no-repeat scroll 100% 0 / 64% auto;
    content: "";
    height: 100px;
    margin-right: -6px;
    margin-top: -3px;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    z-index: 1000;
}

body.coach .navbar-absolute-top {
    z-index: 2000;
}

body.coach .page-options .share-action::after {
    background: rgba(0, 0, 0, 0) url("../images/coach_share.png") no-repeat scroll 100% 0 / contain;
    content: "";
    height: 129px;
    margin-right: -5px;
    margin-top: -3px;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    z-index: 1000;
}

body.coach .freyo-header .btn-group.pull-right .page-options {
    position: relative;
    z-index: 2;
}

.magazine-cover-container {
    position: relative;
}

body.coach .magazines-browser-slider::before {
    background: rgba(0, 0, 0, 0) url("../images/coach_open.png") no-repeat scroll 50% 180px / 50% auto;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    margin: 0 auto;
    max-width: 500px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2000;
}
/*end pat css*/

*,
*:focus,
*:hover {
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    /*background-color: #eff0f0;*/
    background-color: #ececec;
    line-height: 26px;
    color: #666;
    font-weight: normal;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.no-gutters {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}


/* .loader
-----------------------------------------------------------------------------------------*/
.floader {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 3000;
}
.floader .floader-load,
.uil-default-css {
    /*background: rgba(0, 0, 0, 0) url("../images/freyo-loader.gif") no-repeat scroll 0 0;*/
    height: 100px;
    /*margin: 0 auto;*/
    /*position: relative;*/
    position: fixed !important;
    right: 50%;
    left: 50%;
    margin: 0 -100px;
    top: 40%;
    width: 100px;
}

/*START LAUNCH SCREEN / LOGIN / SIGNUP*/

.f-walkthrough {
    background: rgba(0, 0, 0, 0) url("../images/walkthrough-bg.jpg") no-repeat scroll 0 30%;
    background-size: cover;
    height: 100%;
    min-height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
    display: table;
}

.walkthrough-img-container img {
    max-width: 450px;
    min-width: 260px;
    padding-bottom: 125px;
    padding-top: 50px;
    width: 100%;
}

.f-footer-walkthrough {
    background-color: #fff;
    bottom: 0;
    left: 0;
    padding: 15px;
    position: absolute;
    width: 100%;
}

.walkthrough-nav span {
    background-color: #666;
    opacity: .6;
    border-radius: 13px;
    display: inline-block;
    height: 13px;
    margin: 0 10px;
    width: 13px;
}

.walkthrough-nav span.active {
    opacity: 1;
}

.walkthrough-next {
    bottom: 15px;
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.walkthrough-next .fa-angle-right {
    font-size: 24px;
    position: relative;
    top: 2px;
}

.f-launch-screen {
    background: rgba(0, 0, 0, 0) url("../images/launch-screen-bg.jpg") no-repeat scroll 0 100%;
    background-size: cover;
    height: 100%;
    min-height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
    display: table;
}

.fma-vertical-responsive {
    display: table-cell;
    vertical-align: middle;
}

.f-launch-screen img {
    max-width: 200px;
    margin: 20px auto;
}

.f-launch-screen h1 {
    color: #fff;
}

.f-launch-screen h3 {
    line-height: 33px;
    font-weight: 300;
    margin-top: 0;
}

.f-launch-screen .btn_fsign_in {
    background-color: #1db53d;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin: 25px auto;
    padding: 10px 45px;
}

.f-launch-screen .f-ls-swipe {
    color: #fff;
    font-size: 20px;
}

.f-launch-screen .f-ls-swipe .fa-angle-left {
    font-size: 30px;
    font-weight: 900;
    position: relative;
    top: 3px;
}

.f-launch-screen .f-ls-swipe .fal-1 {
    opacity: 0.27;
}

.f-launch-screen .f-ls-swipe .fal-2 {
    opacity: 0.5;
}

.f-launch-screen a.guest_sign_in {
    color: #666;
    text-decoration: underline;
    font-weight: 300;
    margin-top: 30px;
    display: inline-block;
}

.f-su-interests {
    background: rgba(0, 0, 0, 0) url("../images/select-interests-bg.jpg") no-repeat scroll 0 25%;
    background-size: cover;
    height: 100%;
    min-height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
    display: table;
}

.f-su-interests .btn_back_to_welcome,
.btn_back_to_interests,
.btn_si_to_welcome {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 26px;
}

.f-su-text p {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.f-su-category-container .col-xs-4 {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
}

.f-su-categories {
    cursor: pointer;
}

.f-su-interests .btn_next_step {
    background-color: #1db53d;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin: 20px auto;
    padding: 10px 45px;
}

.f-su-formpage,
.f-si-formpage {
    background-color: #fff;
    height: 100%;
    min-height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
    display: table;
}

.login_message,
.registration_message,
.update-message,
.support-message,
.profilepic-message {
    border-radius: 3px;
    font-size: 13px;
    margin-bottom: 20px;
    padding: 5px;
}

.fsu-almost-there {
    margin-top: 40px;
    margin-bottom: 25px;
    padding: 0 20px;
}

.fsu-almost-there h3 {
    font-weight: 500;
    margin-bottom: 0;
}

.fsu-almost-there p {
    margin: 0;
}

.f-signup-form {
    padding: 0 20px;
}

.f-su-formpage .btn_back_to_interests,
.f-si-formpage .btn_si_to_welcome {
    color: #666;
}

.fsu-input {
    position: relative;
    padding: 0;
    margin: 0 0 20px;
}

/*.fsu-last-input {
    margin-bottom: 0;
}*/

.fsu-input:last-child {
    margin-bottom: 0;
}

.fsu-input input {
    border: none;
    border-bottom: 1px solid #666;
    padding: 0;
    outline: none;
    z-index: 10;
    background-color: transparent;
    height: 35px;
    color: #4a4a4a;
    font-size: 18px;
}

.fsu-input.fsu-active input {
    border-color: blue;
}

.fsu-input span {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1;
    font-size: 18px;
    color: #8e8e8e;
}

.fsu-input.fsu-active span {
    position: absolute;
    top: -20px;
    font-size: 12px;
}

.row.fsu-input > p {
    color: #a9a9a9;
    font-size: 11px;
}

.f-select-address select {
    width: 100%;
    height: 30px;
}
.f-select-address .col-xs-5 {
    padding: 0 5px;
}

.f-select-gender input {
    margin: 10px;
    position: absolute;
    z-index: -1;
    /*display:none;*/
    opacity: 0;
    width: 1px;
}
.f-select-gender input + label {
    border: 1px solid #666;
    cursor: pointer;
    padding:0;
    text-align: center;
    width: 100%;
}
.f-select-gender input:checked + label {
    background-color: #666;
    color: #fff;
}


.btn_submit_sign_up, 
.btn_submit_sign_up:hover,
.btn_submit_sign_up:focus, 
.btn_submit_sign_in, 
.btn_submit_sign_in:hover, 
.btn_submit_sign_in:focus,
.btn_submit_resetpassword, 
.btn_submit_resetpassword:hover, 
.btn_submit_resetpassword:focus {
    background-color: #1db53d;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    height: 55px;
}

.row.f-su-separator.text-center {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}

.fsu-middle-line {
    border-top: 1px solid #666;
    display: block;
    position: relative;
    top: 15px;
}

.f-su-separator span {
    background-color: #fff;
    display: inline-block;
    padding: 0 15px;
    position: relative;
    font-size: 13px;
    z-index: 2;
}

.social-media-signup,
.social-media-signin {
    margin-bottom: 20px;
    padding: 0 10px;
}

.social-media-signup a,
.social-media-signin a {
    color: #fff;
    display: block;
    padding: 7px;
    position: relative;
}

.social-media-signup .signup_fb,
.social-media-signin .signin_fb {
    background-color: #3b5998;
}

.social-media-signup .signup_gp,
.social-media-signin .signin_gp {
    background-color: #dc4e41;
}

.social-media-signup .signup_tw,
.social-media-signin .signin_tw {
    background-color: #55acee;
}

.social-media-signup a i,
.social-media-signin a i {
    float: left;
    font-size: 25px;
    left: 10px;
    position: absolute;
    top: 8px;
}
.below-the-submitbutton {
    margin-top: 10px;
}
.below-the-submitbutton > p {
    text-decoration: underline;
}
.a-su-sign-in,
.btn_forgot_user_pass {
    color: #808080;
}
.forgot-password-text {
    color: #bcbcbc;
}
.forgot-password-row {
    padding: 0 20px;
    margin-bottom: 15px;
}

.f-sidenav {
    background: rgba(0, 0, 0, 1) url("../images/nav-bar-bg.jpg") no-repeat scroll 50% 0;
    background-size: cover;
    height: 100%;
    min-height: 100%;
    /*min-width: 320px;*/
    max-width: 320px;
    width: 100%;
    /*position: absolute;*/
    overflow: auto;
    font-weight: 300;
    color: #fff;
}

.f-sidenav a,
.f-sidenav a:hover,
.f-sidenav a:focus {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
}

.f-close-menu {
    border-bottom: 1px solid #3b3b3b;
    padding: 15px 0;
}

.f-close-menu a i {
    /*font-size: 18px;*/
    font-size: 22px;
}

.f-close-menu a span {
    color: #6c6c6c;
    font-size: 18px;
}

.f-profile-details {
    border-bottom: 1px solid #3b3b3b;
    padding: 15px 0;
}

.f-profile-pic {
    height: 100px;
    width: 100px;
}

.f-profile-name {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    margin: 10px auto 0;
    display: block;
    max-width: 270px;
    word-wrap: break-word;
}

.f-profile-email {
    color: #6c6c6c;
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto;
    max-width: 270px;
    word-wrap: break-word;
}

.f-nav-page {
    border-bottom: 1px solid #3b3b3b;
    font-size: 20px;
    position: relative;
    display: block;
}

.f-nav-page img {
    max-height: 25px;
    max-width: 25px;
    position: absolute;
}

.f-nav-page span {
    left: 55px;
    position: relative;
}


.row.freyo-logo-black {
    padding: 0 20px;
    margin-bottom: 30px;
}
.freyo-logo-black img {
    max-width: 180px;
}
.row.freyo-logo-black > h3 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
}

/*END LAUNCH SCREEN / LOGIN / SIGNUP*/

.app-body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #ececec;
    line-height: 26px;
    color: #666;
    font-weight: normal;
}

.sidebar-left-in .app {
    transform: translate(320px, 0px);
    transition: transform 400ms ease 0s;
    width: 100%;
}

.sidebar-left {
    max-width: 320px;
    width: 100%;
}

.freyo-header {
    /*border-bottom: 1px solid #171717; */
    background-color: #171717;
}

.freyo-header,
.freyo-header .navbar-brand,
.freyo-header i {
    color: #fff;
    font-weight: 900;
    font-size: 18px;
    /*font-size: 22px;*/
}

.freyo-header .navbar-brand span {
    letter-spacing: 3px;
}

.f-edit-profile p {
    margin-top: 10px;
    line-height: 22px;
}

.btn_edit_profile,
.btn_edit_profile:hover,
.btn_edit_profile:focus {
    background-color: #e74c3c;
    color: #fff;
    display: inline-block;
    margin-bottom: 15px;
    padding: 5px 20px;
}

.f-myprofile-head {
    min-height: 250px;
    position: relative;
}

.f-myprofile-bg {
    height: 100%;
    min-height: 200px;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.blurred-profpic-bg {
    background-position: 0 50%;
    background-size: cover;
    filter: blur(6px);
    height: 95%;
    min-height: 200px;
    opacity: 0.34;
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 5%;
}

.myprof-bg-overlay {
    background-color: rgb(0, 0, 0);
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.f-myprofile-details {
    left: 0;
    margin-top: 20px;
    position: absolute;
    right: 0;
    z-index: 5;
}

.f-myprofile-bg .f-profile-pic {
    height: 115px;
    width: 115px;
}

.f-myprofile-bg .f-profile-name {
    font-weight: 700;
    margin-top: 10px;
}

.f-myprofile-bg .btn-group {
    bottom: 0;
    position: absolute;
    z-index: 3;
    border-top: 1px solid rgba(255, 255, 255, 0.47);
    height: 60px;
}

.f-myprofile-bg .btn-group a {
    height: 50px;
    background-color: transparent;
    color: #fff;
    line-height: 15px;
    position: relative;
}

.f-myprofile-bg .btn-group a.active {
    background-color: transparent;
}

.f-myprofile-bg .btn-group a:first-child::before {
    border-right: 1px solid rgba(255, 255, 255, 0.47);
    content: " ";
    height: 40px;
    position: absolute;
    right: 0;
    top: 9px;
}

.f-myprofile-bg .btn-group a.active::after {
    border-bottom: 10px solid #ececec;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: " ";
    display: block;
    height: 0;
    margin: 0 auto;
    position: relative;
    top: 9px;
    width: 0;
}

.cat-background-img {
    padding: 5px 5px 0;
}

.following-magazines .row {
    margin: 15px 0;
}

.following-magazines .row .col-xs-6 {
    padding-right: 5px;
    padding-left: 5px;
}

.follow-box {
    background-color: #fff;
    border: 1px solid #dedede;
    -webkit-box-shadow: 3px 3px 0px #dedede;
    -moz-box-shadow: 3px 3px 0px #dedede;
    box-shadow: 3px 3px 0px #dedede;
    max-height: 300px;
    max-width: 250px;
}

.follow-box .cat-name {
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0;
}

.unfollow-this,
.unfollow-this:hover,
.unfollow-this:focus {
    background-color: #9a9a9a;
    color: #fff;
    display: block;
    margin: 0 7px 15px;
    font-weight: 700;
    font-size: 17px;
}

.follow-this,
.follow-this:hover,
.follow-this:focus {
    background-color: #246fe1;
    color: #fff;
    display: block;
    margin: 0 7px 15px;
    font-weight: 700;
    font-size: 17px;
}


.btn_change_pic {
    margin-top: 15px;
    position: relative;
    display: inline-block;
    z-index: 99;
}

.btn_change_pic .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.btn_change_pic span,
.btn_change_pic span:hover,
.btn_change_pic span:focus {
    position: absolute;
    left: 0;
    right: 0;
    top: 45px;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
}

.btn_change_pic span i.fa-camera {
    font-size: 20px;
}

.edit-profile-pic {
    height: 120px;
    width: 120px;
}


.f-editprof-form {
    padding: 20px 10px;
    font-size: 14px;
}

/*.f-editprof-form > .fsu-input > span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/

.f-editprof-pic,
.f-editprof-form {
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.f-editprof-form .fsu-input span {
    color: #8d8d8d;
}

.f-editprof-form .fsu-input p {
    margin: 0 0 -10px;
}

.f-editprof-form .fsu-input input {
    background-color: transparent;
    color: #4a4a4a;
}

.edit-choose-gender {
    padding: 0 15px 15px;
    display: block;
}

.btn.dGenderEvent,
.btn.dGenderEvent:hover,
.btn.dGenderEvent:focus {
    background-color: #e4e4e4;
    border: 1px solid #bebebe;
    color: #4a4a4a;
    border-radius: 0;
}

.btn.dGenderEvent.gChosen {
    background-color: #bbb;
    border: 1px solid #bebebe;
}

.f-editprof-form .btn_update_profile {
    background-color: #e3af13;
    color: #fff;
    display: block;
    padding: 10px 0;
}

.f-magazine-item {
    margin-bottom: 15px;
    /*padding: 5px;*/
    padding: 0;
    overflow: hidden;
}
.fliked-mags .f-magazine-item {
    margin-bottom: 0;
}

.magazine-options .col-xs-12 {
    padding: 0;
}

.f-magazine-box {
    background-color: #fff;
/*    -moz-box-shadow: 5px 5px 0 #dedede;
    -webkit-box-shadow: 5px 5px 0 #dedede;
    box-shadow: 5px 5px 0 #dedede;*/
    margin: 15px;
    padding: 10px;
    overflow: auto;
    color: #818181;
    font-weight: 500;
}


.f-magazine-box .magazine-rating {
    margin-top: 5px;
    right: 5px;
}

.magazine-category {
    color: #fff;
    /*display: inline-block;*/
    font-size: 10px;
    line-height: 1;
    margin: 0;
    padding: 5px 10px;
    display:none;
}

.mc-fashion {
    background-color: #9b59b6;
}

.mc-fashion .btn_nav_follow {
    color: #9b59b6;
}

.tab-cat-fashion.btn-group.justified a {
    background-color: #84419f;
    color: #471a5a;
}

.tab-cat-fashion.btn-group.justified a.active {
    color: #fff;
}

.mc-travel {
    background-color: #34495e;
}

.mc-travel .btn_nav_follow {
    color: #34495e;
}

.tab-cat-travel.btn-group.justified a {
    background-color: #253648;
    color: #121b24;
}

.tab-cat-travel.btn-group.justified a.active {
    color: #fff;
}

.mc-celebrity {
    background-color: #87d37c;
}

.mc-celebrity .btn_nav_follow {
    color: #87d37c;
}

.tab-cat-celebrity.btn-group.justified a {
    background-color: #59a54e;
    color: #275620;
}

.tab-cat-celebrity.btn-group.justified a.active {
    color: #fff;
}

.mc-cars {
    background-color: #e74c3c;
}

.mc-cars .btn_nav_follow {
    color: #e74c3c;
}

.tab-cat-cars.btn-group.justified a {
    background-color: #bc382a;
    color: #72160c;
}

.tab-cat-cars.btn-group.justified a.active {
    color: #fff;
}

.mc-sports {
    background-color: #246fe1;
}

.mc-sports .btn_nav_follow {
    color: #246fe1;
}

.tab-cat-sports.btn-group.justified a {
    background-color: #1757b8;
    color: #0f3062;
}

.tab-cat-sports.btn-group.justified a.active {
    color: #fff;
}

.mc-weddings {
    background-color: #d2527f;
}

.mc-weddings .btn_nav_follow {
    color: #d2527f;
}

.tab-cat-weddings.btn-group.justified a {
    background-color: #aa2e5a;
    color: #641430;
}

.tab-cat-weddings.btn-group.justified a.active {
    color: #fff;
}

.f-magazine-box > a {
    display: block;
    float: left;
    height: 130px;
    margin-right: 15px;
    width: 101px;
}
.magazine-cover {
/*    -webkit-box-shadow: 3px 3px 5px #606060;
    -moz-box-shadow: 3px 3px 5px #606060;
    box-shadow: 3px 3px 5px #606060;*/
    float: left;
    margin-right: 15px;
    height: 130px;
    position: relative;
    z-index: 2;
    max-width: 101px;
}

.mb-magazine-title {
    font-weight: 700;
    font-size: 16px;
    color: #363434;
    margin-bottom: 0;
    max-height: 52px;
    overflow: hidden;
    line-height: 20px;
}

.magazine-issue-date {
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 5px;
    line-height: normal;
}

.mag-details-container .btn-group {
    margin-top: 15px;
/*    display: block;
    float: left;*/
    width: 55%;
}

.mag-details-container .btn-xs {
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 5px 7px;
    color: #818181;
}

.mag-details-container .btn-group .magazine-views-favs {
    /*display: inline;*/
    display: block;
    font-size: 10px;
    /*margin-left: 10px;*/
    margin-top: 6px;
}

.f-category-lefttitle {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
    letter-spacing: 3px;
    margin-left: 15px;
}

.btn_nav_follow {
    background-color: #fff;
    border-radius: 5px;
    font-size: 12px;
    padding: 4px 8px;
    cursor: pointer;
    margin-right: 5px;
}

.freyo-header .btn_share_category {
    position: relative;
    top: 3px;
}

.freyo-header .right-category-btns {
    line-height: 50px;
    padding-bottom: 0;
    padding-top: 0;
    font-size: 14px;
    font-weight: normal;
    padding-right: 12px;
}

.view-magazine-background {
    background-color: #0f0f0f;
}

.freyo-header .btn_mag_grid_view {
    cursor: pointer;
    font-weight: normal;
    margin-left: 15px;
    position: relative;
    top: 1px;
}

.f-magazine-lefttitle {
    color: #666;
    margin-left: 10px;
    text-transform: none;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0 !important;
}

.magazine-left-button {
    left: 4px;
    padding: 10px;
    position: absolute;
    top: 4px;
}

.magazines-browser-slider .owl-controls {
    font-size: 40px;
    margin-top: 0;
    padding: 0 12px;
    position: absolute;
    top: 0;
    width: 100%;
}

.magazines-browser-slider .owl-nav {
    /*bottom: 8px;*/
    font-weight: 900;
    position: relative;
}

.magazines-viewer {
    margin-top: 10px;
}

.magazine-page-container {
    margin: 0 auto;
    width: 100%;
}

.magazine-page-details {
    background: #0f0f0f none repeat scroll 0 0;
    font-size: 13px;
    padding: 10px 17px;
    position: relative;
    z-index: 5;
}

.m-page-likes .fa.fa-heart {
    font-size: 18px;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

.i-liked .fa.fa-heart {
    color: #ae3535;
}

.m-page-number {
    color: #fff;
    float: right;
    position: relative;
    /*top: 3px;*/
}

body.coach .right-category-btns .fa {
    position: relative;
}

body.coach .right-category-btns .btn_mag_single_view::after {
    background: rgba(0, 0, 0, 0) url("../images/coach_single.png") no-repeat scroll 100% 0 / contain;
    content: "";
    height: 100px;
    margin-right: -8px;
    margin-top: -8px;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    z-index: 1000;
}

body.coach .right-category-btns .btn_mag_grid_view::after {
    background: rgba(0, 0, 0, 0) url("../images/coach_grid.png") no-repeat scroll 100% 0 / contain;
    content: "";
    height: 129px;
    margin-right: -6px;
    margin-top: -8px;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    z-index: 1000;
}

body.coach .freyo-header .btn-group.pull-right .right-category-btns {
    position: relative;
    z-index: 2;
}

body.coach .magazines-viewer::before {
    background: rgba(0, 0, 0, 0) url("../images/coach_swipeleft.png") no-repeat scroll 50% 180px / 50% auto;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    /*left: 0;*/
    margin: 0 auto;
    max-width: 500px;
    position: fixed;
    right: 35%;
    top: 0;
    width: 80%;
    z-index: 2000;
}

body.coach .magazines-viewer::after {
    background: rgba(0, 0, 0, 0) url("../images/coach_like.png") no-repeat scroll 50% 180px / 50% auto;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 35%;
    margin: 0 auto;
    max-width: 500px;
    position: fixed;
    /*right: 0;*/
    top: 0;
    width: 80%;
    z-index: 2000;
}

body.coach .magazines-viewer {
    z-index: initial;
}
body.coach .close-coachmark {
    display: block !important;
    bottom: 20px;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 20;
}
body.coach .close-coachmark > button {
    background-color: #fff;
    border: medium none;
    border-radius: 11px;
    box-shadow: none;
    font-size: 18px;
    font-weight: 800;
    padding: 10px 30px;
}

.magazines-viewer .owl-controls {
    display: none;
}

.magazine-page-num {
    color: #666;
    margin-top: 10px;
    margin-bottom: 0;
}

.gridview-magazine .f-magazine-item {
    margin-bottom: 5px;
}


.signout-dialog-box .modal-dialog,
.resetpassword-modal .modal-dialog{
/*    bottom: 40%;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    width: 250px;*/
    left: 50%;
    margin: -80px 0 0 -125px;
    position: fixed;
    right: 0;
    top: 50%;
    width: 250px;
}
.signout-dialog-box .modal-header {
    border-bottom: medium none;
    padding: 10px;
}
.signout-dialog-box .modal-title {
    font-size: 20px;
    font-weight: 500;
}
.signout-dialog-box .modal-body {
    padding: 5px;
}
.signout-dialog-box .modal-footer {
    overflow: hidden;
    padding: 10px 0;
}
.signout-dialog-box .modal-footer > a:first-child {
    border-right: 1px solid #e5e5e5;
}
.signout-dialog-box .modal-footer > a {
    color: #157efb;
    font-size: 18px;
    padding: 27px;
}
.sign-out-now {
    font-weight: 500;
}

.requestreset_message {
    margin: 10px 0;
    padding: 5px;
}

.resetpassword-modal .fsu-input {
    margin: 5px 0 10px;
}

.featured-magazine-container {
    margin-bottom: 15px;
}

.error-rating-message {
    color: #f00;
    font-weight: 500;
    font-size: 16px;
}
.close.close-closest-modal {
    font-size: 30px;
}

.sidebar-left-in .sidebar-in-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
}

.search-input-box {
    background-color: #ccc;
    display: block;
    height: 60px;
    margin-bottom: 10px;
    padding: 10px 20px;
    position: relative;
}

.search-input-box .fa.fa-search {
    color: #888;
    font-size: 21px;
    position: absolute;
    right: 30px;
    top: 18px;
    z-index: 2;
}

.search-input-box input {
    height: 39px;
    padding-right: 38px;
    border: none;
    line-height: normal;
}
.search-input-box input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-style: italic;
    line-height: 39px;
}
.search-input-box input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-style: italic;
    line-height: 39px;
}
.search-input-box input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-style: italic;
    line-height: 39px;
}
.search-input-box input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: italic;
    line-height: 39px;
}
.search-input-box input:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    font-style: italic;
    line-height: 39px;
}

.support-message-input {
    margin: 25px 0 15px;
}
.support-message-input > textarea {
    background: rgb(204, 204, 204) none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    min-height: 100px;
    padding: 5px 10px;
    resize: none;
    width: 100%;
}
.support-message-input.fsu-active span {
    top: -25px;
    left: 0;
}
.f-recaptcha-container {
    margin: 0 0 15px;
}
.support-message-input span {
    left: 11px;
    top: 5px;
}

.f-topcharts-filter {
    padding: 5px 15px 0;
}
.f-topcharts-filter input {
    display: none;
    margin: 10px;
    position: absolute;
    z-index: -1;
}
.f-topcharts-filter input + label {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    font-weight: 500;
    padding: 2px;
    text-align: center;
    width: 100%;
    font-size: 12px;
}
.f-topcharts-filter input:checked + label {
    background-color: #000;
    color: #fff;
}
.btn-group.justified.nav-tabs.f-topcharts-filter.ng-scope > div:first-child label {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 0;
}
.btn-group.justified.nav-tabs.f-topcharts-filter.ng-scope > div:last-child label {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 0;
}


.liked-response-heart {
    height: 100px;
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 100px;
    z-index: 99999;
}
.liked-response-heart .fa.fa-heart {
    color: #ae3535;
    font-size: 100px;
    margin: -30px 0 0 -30px;
    position: fixed;
}

.subscribe-status .modal-footer {
    background-color: #e6e6e6;
    padding: 10px;
}
.subscribe-status .modal-content {
    border-radius: 0;
}
.subscribe-status p {
    font-size: 15px;
    margin: 0;
    padding: 10px 0;
}
.subscribe-status p > b {
    display: block;
    font-size: 18px;
    position: relative;
    top: 7px;
}
.subscribe-status p > i {
    color: #157efb;
    font-size: 20px;
    margin-right: 5px;
}
.subscribe-status .modal-footer > a {
    display: block;
    font-size: 14px;
    padding: 5px;
    text-align: center;
}
.subscribe-status .modal-footer > a:first-child {
    background-color: #157efb;
    color: #fff;
    border-right: none;
    margin-bottom: 5px;
}
.fa.fa-bookmark.favorite-action {
    right: 2px;
}
.teaser-image-content {
    position: absolute;
    top: 25%;
    width: 100%;
}
.teaser-image-content h5 {
    font-weight: 300;
    margin-bottom: 15px;
}
.teaser-goregister {
    background-color: #eb3939;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 65px;
}
.teaser-gologin {
    display: block;
    margin-top: 15px;
    text-decoration: underline;
}
.teaser-freyologo{
    bottom: 60px;
    left: 0;
    position: absolute;
    right: 0;
    width: 25% !important;
}

/*.lazy-container {
    padding-bottom: 129.3%;
    display: block;
     position: relative;
     height: 0;
}
.lazy-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/

.magazine-cover-container > a {
    display: block;
    padding-bottom: 123%;
    position: relative;
}
.lazy-load-container {
    display: block;
    padding-bottom: 130%;
    position: relative;
}
.lazy-load-container .magazing-cover {
    left: 0;
    position: absolute;
    top: 0;
}
.featured-magazine-container .magazing-cover {
    border-right: 1px solid #ececec;
}
/*.sharing-modal .modal-dialog {
    left: auto;
    margin: 0;
    right: 10px;
    top: 10px;
}*/
.sharing-modal .modal-footer {
    padding: 0;
}
.sharing-modal .modal-footer > a {
    display: block;
    padding: 5px !important;
    text-align: center;
    margin: 5px 0;
    position: relative;
}
.sharing-modal .modal-footer > a:first-child {
    border-right: none;
}
.sharing-modal a.share-facebook {
    background-color: #3b5998;
    color: #fff;
}
.sharing-modal a.share-twitter {
    background-color: #55acee;
    color: #fff;
}
.sharing-modal a.share-google {
    background-color: #dc4e41;
    color: #fff;
}
.sharing-modal .modal-footer > a i{
    float: left;
    font-size: 25px;
    left: 10px;
    position: absolute;
    top: 6px;
}



@media (min-width:450px) {

    .magazine-details-container .btn-group {

        margin-top: 5px;

    }

}

@media (min-width:500px) {

    .magazine-title {

        min-height: 34px;

        max-height: 34px;

    }

}

/* .f-select-gender .col-xs-5.no-gutters {
    padding: 0 10px;
} */
.f-select-gender .col-xs-3:not(:last-child) {
    margin-right: 4%;
}

@-webkit-keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }
@keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }

.uil-default-css { top:33%;background:none;width:200px;height:200px;transform:scale(0.6);}
.uil-default-css > div:nth-of-type(1){
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.uil-default-css > div:nth-of-type(2){
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: -0.16666666666666669s;
    animation-delay: -0.16666666666666669s;
}
.uil-default-css > div:nth-of-type(3){
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: 0.16666666666666663s;
    animation-delay: 0.16666666666666663s;
}
.uil-default-css .thedots {
    top:80px;
    left:80px;
    width:40px;
    height:40px;
    background:#ffffff;
    border-radius:40px;
    position:absolute;
}
.uil-default-css .thedots.topdot {
    -webkit-transform:rotate(0deg) translate(0,-50px);
    transform:rotate(0deg) translate(0,-50px);
}
.uil-default-css .thedots.leftdot {
    -webkit-transform:rotate(120deg) translate(0,-50px);
    transform:rotate(120deg) translate(0,-50px);
}
.uil-default-css .thedots.rightdot {
    -webkit-transform:rotate(240deg) translate(0,-50px);
    transform:rotate(240deg) translate(0,-50px);
}

/*.lazy-load-container .uil-default-css {
    position: absolute !important;
    top: 0 !important;
}
.lazy-load-container .uil-default-css .thedots{
    background: #000;
}*/
.wtoucharea {
    position: relative;
}
.magazine-additional-content {
    background: #fff none repeat scroll 0 0;
    color: #000;
    height: 100%;
    left: 0;
    overflow-y: auto;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}
.hide-mag-content {
    cursor: pointer;
    font-size: 26px;
    padding: 5px 10px;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 4;
}
.magazine-content {
    position: relative;
}
.magazine-content > div {
    position: relative;
}
.page-to-like {
    position: relative;
}
.mag-video-container {
    position: relative;
}
video.mag-video-player {
    /* background: #000 none repeat scroll 0 0;
    height: 100vw;
    left: 0;
    margin-top: -100vw;
    object-fit: cover;
    position: absolute;
    top: 0;
    transform: rotate(90deg);
    transform-origin: left bottom 0;
    width: 100vh;
    z-index: 25; */
}
.read-more-notice.text-center {
    background: rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) -o-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%) repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    left: 0;
    position: absolute;
    right: 0;
}


.is-loading {
    padding-bottom: 128%;
    position: relative;
    /* background: rgba(255, 255, 255, 0.8) url("../images/loading.gif") no-repeat scroll center center; */
}
.is-loading img {
    visibility: none;
    display: none;
}
/* IMAGE PRELOADER */
.cssload-spin-box {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    box-shadow: 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
        -o-box-shadow: 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
        -ms-box-shadow: 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
        -webkit-box-shadow: 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
        -moz-box-shadow: 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
    animation: cssload-spin ease infinite 4.6s;
        -o-animation: cssload-spin ease infinite 4.6s;
        -ms-animation: cssload-spin ease infinite 4.6s;
        -webkit-animation: cssload-spin ease infinite 4.6s;
        -moz-animation: cssload-spin ease infinite 4.6s;
}

@keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
    }
    25% {
        box-shadow: -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 15px 15px rgb(79,77,73);
    }
    50% {
        box-shadow: -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223);
    }
    75% {
        box-shadow: 15px -15px #dfdfdf, 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49;
    }
}

@-o-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
    }
    25% {
        box-shadow: -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 15px 15px rgb(79,77,73);
    }
    50% {
        box-shadow: -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223);
    }
    75% {
        box-shadow: 15px -15px #dfdfdf, 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49;
    }
}

@-ms-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
    }
    25% {
        box-shadow: -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 15px 15px rgb(79,77,73);
    }
    50% {
        box-shadow: -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223);
    }
    75% {
        box-shadow: 15px -15px #dfdfdf, 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49;
    }
}

@-webkit-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
    }
    25% {
        box-shadow: -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 15px 15px rgb(79,77,73);
    }
    50% {
        box-shadow: -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223);
    }
    75% {
        box-shadow: 15px -15px #dfdfdf, 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49;
    }
}

@-moz-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
    }
    25% {
        box-shadow: -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 15px 15px rgb(79,77,73);
    }
    50% {
        box-shadow: -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223);
    }
    75% {
        box-shadow: 15px -15px #dfdfdf, 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49;
    }
}
/* IMAGE PRELOADER END */

.rating-container .rating-stars::before {
    content: attr(data-content);
    text-shadow: none;
}
.rating-container .rating-stars {
    color: #cc9900;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all 0.25s ease-out 0s;
    white-space: nowrap;
}