body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #eff0f0;
    line-height: 26px;
    color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Lato', sans-serif;
}

.side-nav-container {
    position: fixed;
    top: 37%;
    right: 20px;
    z-index: 6;
}

.side-nav-container a {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: #ccc;
    display: block;
    cursor: pointer;
    margin-bottom: 30px;
}

.side-nav-container a:hover,
.side-nav-container a:focus {
    outline: none;
    text-decoration: none;
}

.side-nav-container a.active {
    position: relative;
}

.side-nav-container a.active::after {
    border: 2px solid #bbb;
    border-radius: 35px;
    content: " ";
    display: block;
    height: 30px;
    left: -5px;
    position: absolute;
    top: -5px;
    width: 30px;
}

.freyo-header {
    /*background: url('../image/header-bg.jpg');*/
    background: url('../image/header-bg-4-15.png');
    background-size: cover;
    background-position: 0 15%;
    color: #fff;
}

.logo-container {
    border-bottom: 1px solid #fff;
    padding: 35px 0;
}

.freyo-header h1 {
    font-size: 60px;
    font-weight: 500;
    margin: 35px 0;
}

.freyo-header p {
    font-family: Lato;
    font-size: 22px;
    font-weight: 300;
    margin: 35px 0;
    line-height: 35px;
}

.phone-stores div {
    margin-bottom: 40px;
    text-align: center;
}

.big-phone {
    position: relative;
    top: 70px;
    margin-bottom: -60px;
}

.enjoy-unli-access {
    margin-top: 100px;
    overflow: hidden;
}

.enjoy-unli-access h4 {
    font-weight: 300;
    font-size: 22px;
    line-height: 40px;
    margin-top: 40px;
}

.enjoy-unli-access p {
    font-family: "Lato";
    font-size: 16px;
    font-weight: unset;
}

.follow-topics {
    background: url('../image/follow-bg(4-15-16).jpg');
    background-size: cover;
    background-position: 0 0;
    padding-top: 80px;
    padding-bottom: 65px;
    color: #fff;
}



.follow-topics .follow-icons img {
    margin: 25px auto;
}

.screenshot-gallery {
    padding-top: 65px;
}

.screenshot-gallery h3 {
    font-weight: 300;
    line-height: 40px;
    font-size: 40px;
}

.screenshot-gallery p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 45px;
}

.two-screenshot {
    position: relative;
}

.two-screenshot .ss-left {
    position: absolute;
    top: 50%;
    left: -20px;
    cursor: pointer;
    height: 20%;
}

.two-screenshot .ss-right {
    position: absolute;
    top: 50%;
    right: -20px;
    cursor: pointer;
    height: 20%;
}

.btn-toggle-six-ss {
    height: 15% !important;
}

.subscribe-now {
    /*background: url('../image/subscribe-bg.jpg');*/
    background: #fff;
    background-size: cover;
    background-position: 0 0;
    padding-bottom: 50px;
    padding-top: 50px;
    color: #fff;
}

.subscribe-now h4 {
    font-family: 'Francois One', sans-serif;
    color: #2e2e2e;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
}

.subscribe-now p {
    font-family: "Lato",sans-serif;
    color: #808080;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 25px;
}

.subscribe-now .sub-input-group {
    display: inline-block;
    margin: 20px 0 40px;
    max-width: 420px;
    min-width: 290px;
    position: relative;
    width: 100%;
}

.subscribe-now .sub-input-group input {
    background: #eff0f0;
    color: black;
    border-radius: 5px;
    color: #666;
    font-size: 18px;
    height: 60px;
    max-width: 420px;
    min-width: 290px;
    padding-left: 5px;
    padding-right: 60px;
    width: 100%;
}

.subscribe-now .sub-input-group img {
    padding: 13px 5px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    cursor: pointer;
}

.share-smedia div {
    padding: 25px 0;
}

.share-smedia .btn-facebook {
    background-color: #3b5998;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 30px;
}

.share-smedia .btn-twitter {
    background-color: #55acee;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 30px;
}

.share-smedia .btn-instagram {
    background-color: #3f729b;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 30px;
}

.share-smedia .btn-facebook,
.share-smedia .btn-twitter,
.share-smedia .btn-instagram,
.share-smedia .btn-facebook:hover,
.share-smedia .btn-twitter:hover,
.share-smedia .btn-instagram:hover {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}

.share-smedia i.fa {
    font-size: 22px;
    left: -8px;
    position: relative;
    top: 2px;
}

.download-now {
    background: rgba(0, 0, 0, 0) url("../image/download-now-bg(4-15-16).jpg") repeat scroll 0 0 / cover ;
    padding-bottom: 105px;
    padding-top: 85px;
}

.download-now h4 {
    font-family: 'Francois One', sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    color: #fff;
}

.download-now p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    margin-bottom: 30px;
    color: #fff;
}

.download-now img {
    border: 2px solid white;
    border-radius: 5px;
}

.fb-btn {
    left: 85px;
    position: relative;
}

.instagram-btn {
    position: relative;
    right: 85px;
}

footer {
    background-color: #1a1a1a;
    color: #7f7f7f;
}

footer .container {
    position: relative;
}

.three-dots {
    padding: 30px 0;
}

.three-dots img {
    background-color: #1a1a1a;
    padding: 0 15px;
    position: relative;
}

.three-dots::before {
    border-top: 1px solid #7f7f7f;
    content: "";
    display: block;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    position: absolute;
    width: 100%;
}

footer .footer-content {
    padding-bottom: 35px;
    padding-top: 20px;
}

footer h4 {
    font-family: 'Francois One', sans-serif;
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
    color: #fff;
    margin: 20px 0;
}

footer p {
    font-family: 'Lato';
}

footer p i.fa {
    background-color: #464646;
    border-radius: 30px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    margin-right: 20px;
    position: relative;
    text-align: center;
    width: 30px;
}


footer a {
    color:  rgb(127,​ 127,​ 127) !important;
    text-decoration: none !important;

}

a.socialize {
    color:  #666666 !important;
    text-decoration: none !important;
}

a.socialize:hover, a.socialize:focus {
    color: #fff !important;
}

footer a:hover,
footer a:focus {
    color: #fff !important;
}

footer .btn-email-now {
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    color: #a8a8a8 !important;
    display: block;
    margin: 20px 0;
    padding: 10px 30px;
    text-align: center;
    width: 250px;
}

.btn-email-now:hover, .btn-email-now:focus {
    border: 1px solid #fff;
}

footer .for-p-bottom p {
    margin-bottom: 15px;
}

.copy-power {
    border-top: 1px solid #7f7f7f;
    padding: 0 15px;
}

.copy-power div,
.copy-power div a {
    padding: 10px 0;
    color: #464646;
    font-size: 13px;
}

@media only screen and (min-width: 0px) {
    .freyo-header h1 {
      font-family: "Francois One",sans-serif;
      font-size: 30px;
      font-weight: 500;
      margin: 35px 0;
    }
    .logo-container img {
        height: 55px;
    }

    .freyo-header p {
        font-family: Lato;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        margin: 35px 0;
    }

    .phone-stores img {
        width: 170px;
    }

    .enjoy-unli-access  {
        margin-top: 0;
    }

    .enjoy-unli-access h4 {
        display: none;
    }

    .enjoy-unli-access p {
        display: none;
    }

    .enjoy-unli-access h5 {
        font-family: 'Francois One', sans-serif;
        font-weight: 500;
        font-size: 13px;
        line-height: 27px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .enjoy-unli-access h5 img {
        margin-right: 12px;
        width: 30px;
    }

    img.three-phone-3 {
        max-width: 65%;
    }

    .follow-topics h4 {
      font-size: 18px;
      font-weight: 300;
      line-height: 28px;
      margin-top: 30px;
    }

    .follow-icons img {
        width: 110px;
    }

    .fb-btn {
        left: 0px;
        position: relative;
    }

    .instagram-btn {
        position: relative;
        right: 0px;
    }

    .tb5textbtn {
      background-image: url("http://m.freyo.com/assets/image/sub_submit.png");
      background-repeat: no-repeat;
      background-size: 70px 45px;
      color: transparent;
      cursor: pointer;
      font-family: Open Sans;
      height: 49px;
      left: 225px;
      padding-top: 10px;
      position: absolute;
      top: 2257px;
      width: 74px;
    }
    
    .tb5textbtn {
        background-image: url("http://m.freyo.com/assets/image/sub_submit.png");
        background-repeat: no-repeat;
        background-size: 82px 55px;
        color: transparent;
        cursor: pointer;
        font-family: Open Sans;
        height: 55px;
        left: 940px;
        padding-top: 10px;
        position: absolute;
        top: 2620px;
        width: 82px;
    }

}





@media (min-width: 768px) {
    .phone-stores div {
        text-align: left;
    }
    .phone-stores div:first-child {
        text-align: right;
    }
    .enjoy-unli-access {
        margin-top: 160px;
        position: relative;
    }

    .enjoy-unli-access h4 {
        font-family: Lato;
        font-weight: 300;
        font-size: 36px;
        line-height: 40px;
        width: 603px;
    }
    .follow-topics h4 {
        font-weight: 300;
        font-size: 24px;
        line-height: 40px;
        margin-top: 60px;
    }
    .six-ss,
    .btn-toggle-six-ss {
        display: none !important;
    }
    .sm-fb {
        text-align: right !important;
    }
    .sm-insta {
        text-align: left !important;
    }
    .copy-power div {
        padding: 20px 0;
    }
    .powered-by-lns {
        text-align: right;
    }
}

@media (min-width: 992px) {
    .three-phone-container {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .enjoy-unli-access {
        margin-top: 127px;
        position: relative;
        padding-bottom: 60px;
    }

}
